{% extends 'app/base_site.html' %}
{% load static %}

{% block title %} {{window_title}} {% endblock %}

{% block content %}
	<div class="right_col" role="main">
    <!-- top tiles -->
		<div class="row tile_count">
		  <div class="col-4 col-offset-6">
			  <div class="x_panel">
				<div class="x_title">
					<div class="exceptions-errors row">
                        <h1 class={% if button %}"col-xs-9"{% endif %}>{{ exception }}</h1>
                        {% if button %}
                            <button class="btn btn-dark col-xs-2" onClick="{{ button.1 }}">
                                <i class="fa {{ button.2 }}"></i>
                                <span class="visible-lg">
                                    {{ button.0 }}
                                </span>
                            </button>
                        {% endif %}
                    </div>
				</div>
			  </div>
		  </div>
		</div>
	</div>

{% endblock %}
