{% extends 'app/data_source_views.html' %}
{% load i18n %}
{% load staticfiles %}

{% block javascripts %}
    {{ block.super }}

	<!-- Select 2 css -->
	{{ form.media.js }}
<!--    <script src='{% static "build/js/ir.js" %}'></script>-->
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block title %} {{title}} {% endblock %}
{% block view_title %}{{ title }}{% endblock view_title %}
{% block view_content_txt %}
    {% blocktrans trimmed %}
        Η λειτουργικότητα <strong>Εκδήλωση Κατάστασης</strong>, αποτελεί ένα βοηθητικό
        εργαλείο για την απόκτηση μιας γενικής εικόνας, όσον αφορά
        την κατανομή του συνολικού πληθυσμού, για τον οποίο υπάρχει η σχετική πληροφορία
        στο σύστημα, ως προς την εμφάνιση κάποιας από τις διάφορες πιθανές καταστάσεις
        υγείας (ασθένεια, ανεπιθύμητη δράση, παρενέργεια κ.ο.κ.).
    {% endblocktrans %}
{% endblock view_content_txt %}
{% block iframe_url %}"{{ co_url }}"{% endblock iframe_url %}





