{% extends "app/base_site.html" %}
{% load i18n %}
{% load staticfiles %}


{% block title %} Final Report {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .report{
    width:793.700787px;
    border-style: solid;
    border-width: thin;
    padding: 3px;

    }
</style>
{% endblock stylesheets %}


{% block content %}


<div class="right_col" role="main">
    <div class="row tile_count">
        <div class="col-4 col-offset-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans "My Review" %}</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                <div id="div1">

                    <p class="text-muted font-13 m-b-30">
                        {% trans "Make your own review by following next steps:" %}
                    </p>

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step1">Step 1</button>
                                <i class="fas fa-long-arrow-alt-right fa-2x"></i>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step2" name="checkenable" id="result" disabled>Step 2</button>
                        </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                        <div class="collapse" id="step1" role="tabpanel" aria-labelledby="pills-home-tab">
                           <p> You can choose which of the following  information you want to be in the overall report of this scenario.</p>
                            <p> -If you want all information from one workspace to be a part of your report, press the buttom in the left side of workspace's name.</p>
                           <p> -if you wat to choose witch information of every workspace you want to take part on your report press the buttom in the right side to see in detail what you will include. </p>
                        </div>
                        <div class="collapse" id="step2" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>You can edit your report and include some additions that you think will be helpful to complete your review.</p>
                            <p>Click the button bellow to see your preview until now.</p>
                        </div>
                        </div>
                    <div class="container">
                            <h2>Step 1: Choose your options for every workspace</h2>
                            <br>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs " role="tablist">
                            <li class="nav-item ">
                              <a class="nav-link active" data-toggle="tab" href="#OHDSI">OHDSI</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#OpenFDA">OpenFDA</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#PubMed">PubMed</a>
                            </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            <div id="OHDSI" class="container tab-pane active"><br>
                                <input type="checkbox" id="allOHDSI">
                              <label for="ohdsi"  > Add every information that I had from OHDSI</label>
                                <br></br>
                                <div class="container">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseohdsi" style="color:#5A738E;">Choose which of the OHDSI views information you want to include</a>
                                            </h4>

                                          </div>
                                          <div id="collapseohdsi" class="panel-collapse collapse in">
                                              <br></br>
                                              <table class="table table-striped table-bordered" style="width:500px">
                                                <tr>
                                                <td><input type="checkbox"  id="ir">  &nbsp Incidence Rate</td>
                                                <td><input type="checkbox" id="irnote">&nbsp Notes</td>
                                                </tr>
                                                <tr>
                                                <td><input type="checkbox" name="checkenable" id="char">&nbsp Cohort Characterization</td>
                                                <td><input type="checkbox"  value="yes"  id="charnote">&nbsp Notes</td>
                                                </tr>
                                                  <tr>
                                                <td><input type="checkbox"  value="yes"  id="pathways">&nbsp Cohort Pathways</td>
                                                <td><input type="checkbox"  value="yes"  id="pathwaysnote">&nbsp Notes</td>
                                                </tr>
                                                  <tr>
                                                <td><input type="checkbox"  value="yes"  id="occur">&nbsp Condition Occurence</td>
                                                <td><input type="checkbox"  value="yes"  id="occurnote">&nbsp Notes</td>
                                                </tr>
                                                    <tr>
                                                <td><input type="checkbox"  value="yes"  id="dr">&nbsp Drug Exposure</td>
                                                <td><input type="checkbox"  value="yes"  id="drnote">&nbsp Notes</td>
                                                </tr>

                                                </table>
                                              <br></br>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="OpenFDA" class="container tab-pane fade"><br>
                                <i class="fas fa-check-circle"></i>
                              <label for="openfda">&nbsp Open the folder button in every case to check any
                                  information you want from OpenFDA workspace in your final report.</label>
                                <br></br>
                                <div class="container">
                                    <div class="panel-group" id="combsAccordion">


                                        {% for d,c,k in drug_condition_hash %}

                                <div id="{{ d }}{% if d and c %} - {% endif %}{{ c }}" class="panel panel-default">
                                    <div class="panel-heading">

                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#combsAccordion" href="#collapse{{ forloop.counter }}" style="color:#5A738E;">{{ d }}{% if d and c %} - {% endif %}{{ c }}</a>
                                      </h4>
                                    </div>
                                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
                                      <div class="panel-body">

                                          <strong style="padding-right:80px"><button id="QuickViewDrugEventShinyBtn{{ forloop.counter }}"  data-target="#shinyModal" class="btn btn-secondary" data-toggle="modal"  data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Quick View &nbsp</strong>

                                          {% if d and c %}

                                         <strong style="padding-right:80px"><button id="DynPRRShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-toggle="modal" data-target="#shinyModal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button> Dynamic PRR</strong>

                                         <strong style="padding-right:80px"><button id="ChangePointShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-toggle="modal" data-target="#shinyModal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Change Points Analysis</strong>

                                          {% elif d %}

                                         <strong style="padding-right:80px"><button id="DashShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal"  data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Dashboard &nbsp &nbsp</strong>

                                         <strong style="padding-right:80px"><button id="RR_DShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Reporting Rates &nbsp &nbsp</strong>

                                         <strong style="padding-right:80px"><button  id="LrTestShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Likelihood Rate Test &nbsp &nbsp</strong>

                                          {% elif c %}
                                          <strong style="padding-right:80px"><button id="RR_EShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Reporting Rates &nbsp &nbsp</strong>
                                         <strong style="padding-right:80px"><button  id="LrTest_EShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Likelihood Rate Test &nbsp &nbsp</strong>

                                          {%endif%}
<!--                                          <strong style="padding-right:80px"><button id="ReportViewShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-toggle="modal" data-target="#shinyModal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Report View</strong>-->
<!--                                           <strong style="padding-right:80px"><button class="btn btn-secondary" id="NotesBtn{{ forloop.counter  }}" data-toggle="modal" data-target="#shinyModal_notes" data-note="nai" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}" ><i class="fas fa-search-plus"></i></button>Notes</strong>-->

                                          {%for key1,value1 in notes_openfda1.items%}
                                          {% if key1 == k %}
                                           <strong style="padding-right:80px"><button class="btn btn-secondary" id="NotesBtn{{ k }}" data-toggle="modal" data-target="#shinyModal_notes" data-note="{{value1|striptags|safe}}" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}" ><i class="fas fa-search-plus"></i></button>Notes</strong>

                                          {% endif %}
                                          {%endfor%}

                                      </div>
                                    </div>

                                </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div id="PubMed" class="container tab-pane fade"><br>
                                <input type="checkbox" id="allPubMed">
                              <label for="pubmed"> Add every information that I had from PubMed</label>
                                <br></br>
                                <div class="container">
                                    <div class="panel-group" id="accordionpub">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapsepub" style="color:#5A738E;">Choose which of the PubMed views information you want to include</a>
                                            </h4>
                                          </div>
                                          <div id="collapsepub" class="panel-collapse collapse in">
                                              <br></br>
                                              <table class="table table-striped table-bordered" style="width:800px">
                                                <tr>
                                                <td><input type="checkbox"  value="yes">  &nbsp  Different elemental infant formulas show equivalent phosphorus and calcium bioavailability in healthy volunteers.</td>
                                                <td><input type="checkbox"  value="yes">&nbsp Notes</td>
                                                </tr>
                                                <tr>
                                                <td><input type="checkbox"  value="yes">&nbsp  Low-dose PPI to prevent bleeding after ESD: A multicenter randomized controlled study.</td>
                                                <td><input type="checkbox"  value="yes">&nbsp Notes</td>
                                                </tr>

                                                </table>
                                              <br></br>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </div>
                            </div>
                    <button type="button" class="btn btn-primary active" name="checkenable" id="result1"  disabled>
                    <i class="fas fa-spinner"></i> &nbsp Proseed to step 2 to see the review's status until now</button></a>
                </div>

                <div id="div2">
                    <p class="text-muted font-13 m-b-30">
                        {% trans "Make your own review by following next steps:" %}
                    </p>

                    <ul class="nav nav-pills mb-3" id="pills-tab1" role="tablist">
                        <li class="nav-item">
                          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step11" id="link1">Step 1</button>
                                <i class="fas fa-long-arrow-alt-left fa-2x"></i>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step21" name="checkenable" >Step 2</button>
                        </li>
                    </ul>
                        <div class="tab-content" id="pills-tabContent1">
                        <div class="collapse" id="step11" role="tabpanel" aria-labelledby="pills-home-tab">
                           <p></p>
                        </div>
                        <div class="collapse" id="step21" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>Now you can edit your report and include some additions that you think will be helpfull to complete your review.</p>
                            <p>Click in frames bellow to write your comments and save some extra text in your final report.</p>
                        </div>
                        </div>
                     <div class="container">
<!--                           <a id="bakalia" href={% url 'report_pdf' scenario_open %}>-->
<!--                        </a>-->
                         <h2>Step 2: Edit and fill in your review with the last additions.</h2>
                        <div class="x_panel">
                            <div class="report">


                            <div style="color:black" id="report_preview" ></div>
                            </div>

                        </div>
                     </div>

                    <br>
                    <button type="button" class="btn btn-primary active" id="download">
                    <i class="fas fa-spinner"></i> &nbsp Download your final report</button>

                </div>
<!--                </div>-->
            </div>

{% include 'app/modals/shiny_modal.html'%}

        </div>

</div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}


{% block javascripts %}

{{ block.super }}

<!--    call modals for views via jquery-->
<script>
$(document).ready(function(){

  $("[id*=ShinyBtn]").click(function(){
      var drug= $(this).data('drug');
      var con= $(this).data('con');
      var hash= $(this).data('hash');
      var urlquickview1= "http://83.212.101.89:3838/deployshiny/"+ $(this).attr('id').replace('ShinyBtn','').replace(/\d+/,'')+ "/?lang=en&t1=" + drug + "&v1=patient.drug.openfda.generic_name&t2=" + con+ "&v2=patient.reaction.reactionmeddrapt&hash=" + hash;
	  var urlquickview2= "http://83.212.101.89:3838/deployshiny/"+ $(this).attr('id').replace('ShinyBtn','').replace(/\d+/,'')+ "/?lang=en&t1=" + drug + "&v1=patient.drug.openfda.generic_name&hash=" + hash;
      var urlquickview3= "http://83.212.101.89:3838/deployshiny/"+ $(this).attr('id').replace('ShinyBtn','').replace(/\d+/,'')+ "/?lang=en&t2=" + con + "&v2=patient.reaction.reactionmeddrapt&hash=" + hash;
       console.log(urlquickview1);

     if (con == ''){
        document.getElementById('iframe_shiny').src = urlquickview2;
        }else if (drug == ''){
        document.getElementById('iframe_shiny').src = urlquickview3;
        }else{
        document.getElementById('iframe_shiny').src = urlquickview1;

        };

  });
});
</script>

<script>
	$(document).ready(function(){
	var i=0;
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                i=i+1
                document.getElementById("result1").disabled = false;
            }
            else if($(this).prop("checked") == false){
                i=i-1
                if(i==0){

                document.getElementById("result1").disabled = true;
            }
            }
        });
    });
</script>

<script>
	$(document).ready(function(){
	var i=0;
        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                i=i+1
                document.getElementById("result").disabled = false;
            }
            else if($(this).prop("checked") == false){
                i=i-1
                if(i==0){

                document.getElementById("result").disabled = true;
            }
            }
        });
    });
</script>

    <script>
$(document).ready(function(){
    var all_notes={"empty":"empty"};
    var note ;
    var hash ;

  $("[id*=NotesBtn]").click(function(){
      hash= $(this).data('hash');
      var drug= $(this).data('drug');
      var con= $(this).data('con');
      note= $(this).data('note');

        $("#shinyModal_notes").val( note ) ;
        $("#label_shiny_note").text(note);


  });

    $(".note_chkb").on("change", function(){
        console.log(all_notes);

        if($(this).is(':checked') && !(hash in all_notes)){
            console.log(note)
            console.log(hash)
            all_notes[hash]=note;
            console.log(all_notes);
        }else if(!$(this).is(':checked') && (hash in all_notes)){
            delete all_notes[hash];
            console.log(all_notes);
        }

    });

    $("#shinyModal_notes").on('show.bs.modal', function (){
        if(hash in all_notes){
            $(".note_chkb").prop("checked", true);

        }else{
            $(".note_chkb").prop("checked", false);

        }
    });

    console.log(all_notes)




    $("#div2").hide();


$("#link1").on("click", function() {
    $("#div1").show();
    $("#div2").hide();
});


$("#result1").click(function() {
    var scid={{scenario_open}};
    var note_val="";


    console.log(scid);
    console.log(all_notes)

    $.ajax({
            url: "/ajax/report_pdf",
            data: {"scenario_id": scid , "all_notes": JSON.stringify(all_notes)},
            dataType: "html",
            success: function (res) {
                    $('#report_preview').html(res);

              },
              error: function (res) {
                console.log("error "+res);
            }
        });

    $("#div2").show();
    $("#div1").hide();
});

    $("#download").click(function() {
        var scid={{scenario_open}};
            console.log(scid);

    $.ajax({
            url: "/ajax/print_report",
            data: {"scenario_id": scid , "all_notes": JSON.stringify(all_notes)},
            dataType: "html",
            success: function (res) {
                console.log('ok');

              },
              error: function (res) {
                console.log("error "+res);
            }
        });


});
});
</script>

{% endblock javascripts%}
