{% extends "app/base_site.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block title %} Final Report {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<link href='{% static "build/css/final_report.css" %}' rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock stylesheets %}

{% block content %}

<div id="finalReport" class="right_col" role="main">
    <div class="row tile_count">
        <div class="col-4 col-offset-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans "Ανασκόπηση" %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="div1">
                    <p class="text-muted font-13 m-b-30">
                        {% trans "Κάνε τη δική σου ανασκόπηση ακολουθώντας τα παρακάτω βήματα:" %}
                    </p>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step1">{% trans "Βήμα 1" %}</button>
                                <i class="fas fa-long-arrow-alt-right fa-2x"></i>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step2" name="checkenable" id="resultBtn" disabled>{% trans "Βήμα 2" %}</button>
                        </li>
                    </ul>
                        <div class="tab-content" id="pills-tabContent">
                        <div class="collapse" id="step1" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p> {% trans "Μπορείτε να επιλέξετε ποιες από τις παρακάτω πληροφορίες θέλετε να περιλαμβάνονται στη συνολική" %}
                                {% trans "αναφορά αυτού του σεναρίου." %}</p>
                            <p> {% trans "Κάντε κλικ στο κουμπί δίπλα από κάθε προβολή για να δείτε το περιεχόμενό της και ελέγξτε" %}
                                {% trans "ποιες πληροφορίες θέλετε για την τελική σας αναφορά ,επιλέγοντας το αντίστοιχο πλαίσιο ελέγχου." %}</p>
                        </div>
                        <div class="collapse" id="step2" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>{% trans "Τώρα μπορείτε να επεξεργαστείτε την αναφορά σας και να συμπεριλάβετε" %}
                                {% trans "ορισμένες προσθήκες που  πιστεύετε ότι θα σας βοηθήσουν να ολοκληρώσετε" %}
                                {% trans "την προεπισκόπηση σας." %}</p>
                            <p>{% trans "Κάντε κλικ στο παρακάτω πλαίσιο για να γράψετε τα σχόλιά σας και να" %}
                                {% trans "αποθηκεύσετε επιπλέον κείμενο στην τελική σας έκθεση." %}</p>
                        </div>
                        </div>
                    <div class="container">
                            <h2>{% trans "Βήμα 1: Κάντε τις επιλογές σας για κάθε χώρο εργασίας." %}</h2>
                            <br>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs " role="tablist">
                            <li class="nav-item active">
                              <a class="nav-link active" data-toggle="tab" href="#OHDSI">OHDSI</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#OpenFDA">OpenFDA</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#PubMed">PubMed</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#SocialMedia">Twitter</a>
                            </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="OHDSI" class="container tab-pane active"><br>
                                    <br>
                                    <div class="container">
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseohdsi" style="color:#5A738E;">{% trans "Επιλέξτε τις πληροφορίες του περιβάλλοντος εργασίας OHDSI που θέλετε να συμπεριλάβετε" %}</a>
                                                </h4>

                                              </div>
                                              <div id="collapseohdsi" class="panel-collapse collapse in">
                                                  <br>
                                                  <table class="table table-striped table-bordered" style="width:500px">
                                                    <tr>
                                                        {% if ir_id %}
                                                            <td><button id="IrOHDSIBtn" data-target="#irModal" class="btn btn-secondary" data-toggle="modal" data-irid="{{ ir_id }}" data-scenario="{{ scenario_open }}">
                                                            <i class="fas fa-search-plus"></i></button><span> {% trans "Ρυθμός Επίπτωσης" %}</span></td>
                                                        {% else %}
                                                            <td><button data-target="#noneModal" class="btn btn-secondary" data-toggle="modal">
                                                                <i class="fas fa-search-plus"></i></button><span> {% trans "Ρυθμός Επίπτωσης" %}</span></td>
                                                        {% endif %}
                                                        <td>
                                                            <button class="btn btn-secondary" id="IrNotes" data-toggle="modal" data-target="#ohdsi_ir_notes" data-note="{{ ir_notes }}" {% if not ir_notes %}disabled{% endif %}>
                                                                <i class="fas fa-search-plus"></i>
                                                            </button><span> {% trans "Σημειώσεις" %}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        {% if char_id %}
                                                    <td><button id="CharOHDSIBtn" data-target="#charModal" class="btn btn-secondary" data-toggle="modal" data-charid="{{ char_id }}" data-scenario="{{ scenario_open }}">
                                                        <i class="fas fa-search-plus"></i></button><span> {% trans "Χαρακτηρισμός Πληθυσμού" %}</span></td>
                                                        {% else %}
                                                            <td><button data-target="#noneModal" class="btn btn-secondary" data-toggle="modal">
                                                                <i class="fas fa-search-plus"></i></button><span> {% trans "Χαρακτηρισμός Πληθυσμού" %}</span></td>
                                                        {% endif %}
                                                        <td>
                                                            <button class="btn btn-secondary" id="CharNotes" data-toggle="modal" data-target="#ohdsi_char_notes" data-note="{{ char_notes }}" {% if not char_notes %}disabled{% endif %}>
                                                                <i class="fas fa-search-plus"></i>
                                                            </button><span> {% trans "Σημειώσεις" %}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                      {% if cp_id %}
                                                        <td><button id="PathOHDSIBtn" data-target="#pathModal" class="btn btn-secondary" data-toggle="modal" data-pathid="{{ cp_id }}" data-scenario="{{ scenario_open }}">
                                                        <i class="fas fa-search-plus"></i></button><span>{% trans "Μονοπάτι Ακολουθίας Συμβάντων" %}</span></td>
                                                      {% else %}
                                                        <td><button data-target="#noneModal" class="btn btn-secondary" data-toggle="modal">
                                                            <i class="fas fa-search-plus"></i></button><span>{% trans "Μονοπάτι Ακολουθίας Συμβάντων" %}</span></td>
                                                      {% endif %}
                                                      <td>
                                                         <button class="btn btn-secondary" id="PathwaysNotes" data-toggle="modal" data-target="#ohdsi_pathways_notes" data-note="{{ pathways_notes }}" {% if not pathways_notes %}disabled{% endif %}>
                                                            <i class="fas fa-search-plus"></i>
                                                         </button><span> {% trans "Σημειώσεις" %}</span>
                                                      </td>
                                                    </tr>
                                                    </table>
                                                  <br>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="OpenFDA" class="container tab-pane fade"><br>
                                    <div style="padding-left:1.5rem; padding-right:1.5rem; text-align: justify; text-justify: inter-word;">
    <!--                                    <input type="checkbox" id="openfdaChkBx">-->
                                        <i style="font-weight:bold;">
    <!--                                    {% trans "Αν θέλετε να συμπεριλάβετε κάτι από το OpenFDA στην αναφορά σας," %}-->
    <!--                                    {% trans "επιλέξτε το πλαίσιο ελέγχου στην αριστερή πλευρά και ανοίξτε με το κουμπί" %}-->
    <!--                                    {% trans "αναζήτησης την κάθε περίπτωση, για να επιλέξετε ποιες πληροφορίες" %}-->
    <!--                                    {% trans "θέλετε από αυτόν τον χώρο εργασίας στην τελική σας αναφορά." %}-->
                                            {% blocktrans %} Αν θέλετε να συμπεριλάβετε πληροφορία από το OpenFDA περιβάλλον εργασίας
                                            στην τελική σας αναφορά, πατήστε στους ακόλουθους πίνακες επιλογής, τα αντίστοιχα
                                            κουμπιά αναζήτησης που βρίσκονται δίπλα από τις θεματικές ενότητες που σας ενδιαφέρουν,
                                            και επιλέξτε από τα επιμέρους στοιχεία που εμφανίζονται σε κάθε αναδυόμενο παράθυρο διαλόγου.
                                            {% endblocktrans %}
                                        </i>
    <!--                                    <label for="openfdaChkBx"></label>-->
                                    </div>
                                    <br>
                                    {% if drug_condition_hash %}
                                        <div class="row pull-right">
                                            <div class="col-xs-7">{% trans "Συγχορηγούμενα" %}:</div>
                                            <div class="col-xs-4">
                                            <div class="bs-switch">
                                                <input type="checkbox" name="bs-switch" class="bs-switch-checkbox" id="concomitantSwitch" checked=true>
                                                <label class="bs-switch-label" for="concomitantSwitch">
                                                    <div class="bs-switch-inner"></div>
                                                    <div class="bs-switch-switch"></div>
                                                </label>
                                            </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="container mt-5">
                                        <div class="panel-group" id="combsAccordion">

                                            {% for d,c,k in drug_condition_hash %}
                                                <div id="{{ d.name }}{% if d and c %}_{% endif %}{{ c.name }}" class="panel panel-default">
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#combsAccordion" href="#collapse{{ forloop.counter }}" style="color:#5A738E;">{{ d.name }}{% if d and c %} - {% endif %}{{ c.name }}</a>
                                                      </h4>
                                                    </div>
                                                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
                                                      <div class="panel-body">

                                                          <strong style="padding-right:80px"><button id="QuickViewDrugEventShinyBtn{{ forloop.counter }}"  data-target="#shinyModal" class="btn btn-secondary" data-toggle="modal"  data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Γρήγορη Επισκόπηση" %}</span></strong>

                                                          {% if d and c %}
                                                              <strong style="padding-right:80px"><button id="DynPRRShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-toggle="modal" data-target="#shinyModal" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Δυναμικό PRR" %}</span></strong>

                                                              <strong style="padding-right:80px"><button id="ChangePointShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-toggle="modal" data-target="#shinyModal" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Ανάλυση Αλλαγής Σημείου" %}</span></strong>

                                                          {% elif d %}
                                                              <strong style="padding-right:80px"><button id="DashShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal"  data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Πίνακας Ελέγχου" %}</span></strong>

                                                              <strong style="padding-right:80px"><button id="RR_DShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span> {% trans "Λόγος Αναφορών" %}</span></strong>

                                                              <strong style="padding-right:80px"><button  id="LrTestShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Έλεγχος Λόγου Πιθανοφανειών" %}</span></strong>
                                                          {% elif c %}
                                                              <strong style="padding-right:80px"><button id="RR_EShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Λόγος Αναφορών" %}</span></strong>
                                                              <strong style="padding-right:80px"><button  id="LrTest_EShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-target="#shinyModal" data-toggle="modal" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button><span>{% trans "Έλεγχος Λόγου Πιθανοφανειών" %}</span></strong>
                                                          {%endif%}
                <!--                                          <strong style="padding-right:80px"><button id="ReportViewShinyBtn{{ forloop.counter }}" class="btn btn-secondary" data-toggle="modal" data-target="#shinyModal" data-drug="{{d}}" data-con="{{c}}" data-hash="{{k}}"><i class="fas fa-search-plus"></i></button>Report View</strong>-->

                                                          {%for key1,value1 in notes_openfda1.items%}
                                                              {% if key1 == k %}
                                                                <strong style="padding-right:80px"><button class="btn btn-secondary" id="NotesBtn{{ k }}" data-toggle="modal" data-target="#shinyModal_notes" data-note="{{value1|striptags|safe}}" data-drug="{{d.code}}" data-con="{{c.code}}" data-hash="{{k}}" {% if not value1 %}disabled{% endif %}><i class="fas fa-search-plus"></i></button><span>{% trans "Σημειώσεις" %}</span></strong>

                                                              {% endif %}
                                                          {%endfor%}

                                                      </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                <div id="PubMed" class="container tab-pane fade"><br>
                                    {% if not pub_objs %}
                                        <div class="no-ws-info">
                                        <i>{% trans "Δεν υπάρχουν σχετικές πληροφορίες για το περιβάλλον εργασίας PubMed" %}</i>
                                        </div>
                                        <br>
                                        <br>
                                    {% else %}
                                        <div style="padding-left:1.5rem; padding-right:1.5rem; text-align: justify; text-justify: inter-word;">
                                            <i style=" font-weight:bold;"> {% trans "Εάν επιλέξετε να συμπεριλάβετε " %}
                                            {% trans "τον τίτλο ενός εγγράφου από το PubMed, προστίθενται αυτόματα και οι " %}
                                            {% trans "πληροφορίες των συντακτων και του Ενιαίου Εντοπιστή Πόρων(URL) " %}
                                            {% trans " στην τελική αναφορά. Επίσης, οι σημειώσεις για το κάθε " %}
                                            {% trans "έγγραφο εμφανίζονται στην τελική αναφορά, μόνο εάν έχετε συμπεριλάβει " %}
                                            {% trans "και τον τίτλο του εκάστοτε εγγράφου." %}
                                            </i>
                                        </div>
                                        <br>
                                        <div class="container">
                                            <div class="panel-group" id="accordionpub">
                                                <div class="panel panel-default">
                                                  <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapsepub" style="color:#5A738E;">{% trans "Επιλέξτε τις πληροφορίες του περιβάλλοντος εργασίας PubMed που θέλετε να συμπεριλάβετε" %}</a>
                                                    </h4>
                                                  </div>
                                                  <div id="collapsepub" class="panel-collapse collapse in">
                                                      <br>
                                                      <table class="table table-bordered table-light">
                                                          <tbody>
                                                            {% for pub_obj in pub_objs %}
                                                                <tr>
                                                                    <td><input type="checkbox" id="pubtitle{{ forloop.counter}}" value="" data-title="{{ pub_obj.title }}" data-series="{{ forloop.counter}}" data-objid="{{pub_obj.id}}"></td>
                                                                    <td>
                                                                        <button id="PubMedBtn" data-toggle="collapse" data-target="#pubObjDetails{{ forloop.counter}}" aria-expanded="false" class="btn btn-secondary" data-toggle="modal" aria-controls="pubObjDetails{{ forloop.counter}}">
                                                                            <i class="fa fa-plus pull-right"></i>
                                                                            <i class="fa fa-minus pull-right"></i>
                                                                        </button>
                                                                        <span><em>{{ pub_obj.title }}</em></span>
                                                                    </td>

                                                                    <td><button id="PubMedNoteBtn" data-target="#pubModalNote{{ forloop.counter}}" class="btn btn-secondary" data-toggle="modal" {% if not pub_obj.notes %}disabled{% endif %}>
                                                                        <i class="fas fa-search-plus"></i></button><span> {% trans "Σημειώσεις" %}</span></td>

                                                                    <td id="pubObjDetails{{ forloop.counter}}" class="collapse">
                                                                        <!-- PubMed Accordion -->
                                                                        <table class="table table-bordered">
                                                                            <tr>
                                                                                <td><strong>{% trans "Ημερομηνία δημοσίευσης" %}</strong></td>
                                                                                <td><em>{{ pub_obj.pubdate }}</em></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><strong>{% trans "Συντάκτες" %}</strong></td>
                                                                                <td><em>{{ pub_obj.authors|discreet_authors }}</em></td>
                                                                            </tr>
                                                                             <tr>
                                                                                <td><strong>{% trans "Σύνδεσμος" %}</strong></td>
                                                                                <td><a href="{{ pub_obj.url }}" target="_blank"><em>{{ pub_obj.url }}</em></a></td>
                                                                            </tr>
                                                                        <!--                                                                                  <label for="pubtitle{{ forloop.counter}}"></label>-->
                                                                        </table>
                                                                    </td>

                                                                            <!--  PubMed Modal -->
            <!--                                                                    <div class="modal fade report-note-modal"  id="pubModal{{ forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">-->
            <!--                                                                      <div class="modal-dialog modal-lg">-->
            <!--                                                                        <div class="modal-content">-->
            <!--                                                                          <div class="modal-header">-->
            <!--                                                                            <h4 class="modal-title col-xs-11">{% trans "Τίτλος δημοσίευσης από Mendeley" %}</h4>-->
            <!--                                                                               <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--                                                                                </div>-->
            <!--                                                                          <div class="modal-body">-->
            <!--&lt;!&ndash;                                                                              <input type="checkbox" id="pubtitle{{ forloop.counter}}" value="" data-title="{{ pub_obj.title }}" data-series="{{ forloop.counter}}">&ndash;&gt;-->
            <!--                                                                              <table class="table table-striped table-bordered " style="width:1200px">-->
            <!--                                                                                  <tr>-->
            <!--                                                                                      <td>{% trans "Title"</td>-->
            <!--                                                                                      <td><em>{{ pub_obj.title }}</em></td>-->
            <!--                                                                                  </tr>-->
            <!--                                                                                  <tr>-->
            <!--                                                                                      <td>{% trans "Authors"</td>-->
            <!--                                                                                      <td><em>{{ pub_obj.authors }}</em></td>-->
            <!--                                                                                  </tr>-->
            <!--&lt;!&ndash;                                                                                  <label for="pubtitle{{ forloop.counter}}"></label>&ndash;&gt;-->
            <!--                                                                              </table>-->
            <!--                                                                          </div>-->
            <!--                                                                          <div class="modal-footer">-->
            <!--                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>-->
            <!--                                                                          </div>-->
            <!--                                                                        </div>-->
            <!--                                                                        &lt;!&ndash; /.modal-content &ndash;&gt;-->
            <!--                                                                      </div>-->
            <!--                                                                      &lt;!&ndash; /.modal-dialog &ndash;&gt;-->
            <!--                                                                    </div>-->
            <!--                                                                    &lt;!&ndash; /.modal &ndash;&gt;-->

                                                                            <!--  PubMedNote Modal -->
                                                                                <div class="modal fade pubmed-report-modal"  id="pubModalNote{{ forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
                                                                                  <div class="modal-dialog modal-lg">
                                                                                    <div class="modal-content">
                                                                                      <div class="modal-header">
                                                                                        <h4 class="modal-title col-xs-11">{% trans "Σημειώσεις δημοσίευσης από Mendeley" %}</h4>
                                                                                           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                      </div>
                                                                                      <div class="modal-body">
                                                                                          <div class="row">
                                                                                          <input type="checkbox" id="pubnote{{ forloop.counter}}" class="col-xs-1" value="" data-note="{{ pub_obj.notes }}" data-series="{{ forloop.counter}}" data-objid="{{pub_obj.id}}">
                                                                                          <label for="pubnote{{ forloop.counter}}"></label>
                                                                                          <div id="cke_pubnote{{ forloop.counter}}_contents" class="cke_contents cke_reset col-xs-11" role="presentation">
                                                                                              <textarea readonly="readonly" id="taPubnote{{ forloop.counter}}">{{ pub_obj.notes.content }}</textarea>
                                                                                          </div>
                                                                                          </div>
                                                                                      </div>
                                                                                      <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
                                                                                      </div>
                                                                                    </div>
                                                                                    <!-- /.modal-content -->
                                                                                  </div>
                                                                                  <!-- /.modal-dialog -->
                                                                                </div>
                                                                                <!-- /.modal -->

                                                                </tr>
                                                            {% endfor %}

                                                          </tbody>
                                                        </table>
                                                      <br>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                                <div id="SocialMedia" class="container tab-pane fade"><br>
                                    <div style="padding-left:1.5rem; padding-right:1.5rem; text-align: justify; text-justify: inter-word;">
                                        <i style="font-weight:bold;">
                                            {% blocktrans %} Αν θέλετε να συμπεριλάβετε πληροφορία από το περιβάλλον εργασίας
                                            Μέσων Κοινωνικής Δικτύωσης στην τελική σας αναφορά, πατήστε στα αντίστοιχα κουμπιά
                                            επισκόπησης που βρίσκονται δίπλα από τις θεματικές ενότητες που σας ενδιαφέρουν,
                                            και επιλέξτε από τα επιμέρους στοιχεία που εμφανίζονται σε κάθε αναδυόμενο παράθυρο
                                            διαλόγου.
                                            {% endblocktrans %}
                                        </i>
                                    </div>
                                    <br>

                                    <div class="container mt-5">
                                        <div class="panel-group" id="smCombsAccordion">
                                            {% if not twitter_data_exist %}
                                                <div id="noTwitterInfo" class="no-ws-info">
                                                    <i>{% trans "Δεν υπάρχουν σχετικές πληροφορίες για το περιβάλλον εργασίας Twitter" %}</i>
                                                </div>
                                                <br>
                                                <br>
                                            {% else %}
                                                <div id="smPanel" class="panel panel-default">
                                                    <div class="panel-heading">
                                                      <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#smCombsAccordion" href="#smCollapse" style="color:#5A738E;">{% trans "Στοιχεία Μέσων Κοινωνικής Δικτύωσης" %}</a>
                                                      </h4>
                                                    </div>
                                                    <div id="smCollapse" class="panel-collapse collapse in">
                                                      <br>
                                                      <table class="table table-striped table-bordered" style="width:500px">
                                                          <tr>
                                                              <td>
                                                                  <button id="smTimelineBtn"  data-target="#socialMediaModal" class="btn btn-secondary" data-toggle="modal">
                                                                      <i class="fas fa-search-plus"></i>
                                                                  </button>
                                                                  <span>{% trans "Χρονικό Διάγραμμα" %}</span>
                                                              </td>
                                                              <td>
                                                                  <button id="smRawDataBtn"  data-target="#socialMediaModal" class="btn btn-secondary" data-toggle="modal">
                                                                      <i class="fas fa-search-plus"></i>
                                                                  </button>
                                                                  <span>{% trans "Ακατέργαστα Δεδομένα" %}</span>
                                                              </td>
                                                          </tr>

                                                          <tr>
                                                              <td>
                                                                  <button id="smAuthorsBtn"  data-target="#socialMediaModal" class="btn btn-secondary" data-toggle="modal">
                                                                      <i class="fas fa-search-plus"></i>
                                                                  </button>
                                                                  <span>{% trans "Συντάκτες" %}</span>
                                                              </td>
                                                              <td>
                                                                  <button id="smNotesBtn"  data-target="#socialMediaModal" class="btn btn-secondary" data-toggle="modal">
                                                                      <i class="fas fa-search-plus"></i>
                                                                  </button>
                                                                  <span>{% trans "Σημειώσεις" %}</span>
                                                              </td>
                                                          </tr>
                                                      </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            </div>
                    <button type="button" class="btn btn-primary btn-responsive active" name="checkenable" id="proceed-report-btn"  disabled>
                    <i class="fas fa-spinner"></i> &nbsp {% trans "Προχωρήστε στο βήμα 2 για να δείτε την κατάσταση της αναφοράς σας μέχρι τώρα." %}</button>
                </div>

                <div id="div2">
                    <p class="text-muted font-13 m-b-30">
                        {% trans "Κάνε τη δική σου ανασκόπηση ακολουθώντας τα παρακάτω βήματα:" %}
                    </p>
                    <ul class="nav nav-pills mb-3" id="pills-tab1" role="tablist">
                        <li class="nav-item">
                          <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step11" id="link1">{% trans "Βήμα 1" %}</button>
                                <i class="fas fa-long-arrow-alt-left fa-2x"></i>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#step21" name="checkenable" >{% trans "Βήμα 2" %}</button>
                        </li>
                    </ul>
                        <div class="tab-content" id="pills-tabContent1">
                        <div class="collapse" id="step11" role="tabpanel" aria-labelledby="pills-home-tab">
                           <p></p>
                        </div>
                        <div class="collapse" id="step21" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>{% trans "Τώρα μπορείτε να επεξεργαστείτε την αναφορά σας και να συμπεριλάβετε" %}
                                {% trans "ορισμένες προσθήκες που  πιστεύετε ότι θα σας βοηθήσουν να ολοκληρώσετε" %}
                                {% trans "την προεπισκόπηση σας." %}</p>
                            <p>{% trans "Κάντε κλικ στο παρακάτω πλαίσιο για να γράψετε τα σχόλιά σας και να" %}
                                {% trans "αποθηκεύσετε επιπλέον κείμενο στην τελική σας έκθεση." %}</p>
                        </div>
                        </div>
                     <div class="container">
                         <h2>{% trans "Βήμα 2: Επεξεργαστείτε και συμπληρώστε την προεπισκόπησή σας με τις τελευταίες προσθήκες" %}</h2>
                        <div class="x_panel">
                            <div class="report">
                            <div style="color:black" id="report_preview"></div>
                            </div>
                        </div>
                     </div>
                    <br>
                    <button type="button" class="btn btn-primary active" id="downloadReportBtn">
                    <i class="fas fa-spinner"></i> &nbsp {% trans "Λήψη της τελικής αναφοράς" %}</button>

                </div>
            </div>
        </div>

            </div>
        </div>
    </div>
</div>



{% include 'app/modals/report_modals.html'%}

{% endblock content %}
    {% block javascripts %}

    {{ block.super }}
    <script>
        var openfda_shiny_endpoint = "{{ OPENFDA_SHINY_ENDPOINT }}";
        var hashes = "{{ hashes }}";
        var sm_shiny_endpoint = "{{ SM_SHINY_ENDPOINT }}";
        var twitterQuery = "{{ twitter_query }}";
        var all_notes={};
        var ir_table_rep=0 ;
        var ir_all_rep=0 ;
        var pre_table_rep=0 ;
        var pre_chart_rep=0 ;
        var drug_table_rep=0 ;
        var drug_chart_rep=0 ;
        var demograph_table_rep=0;
        var demograph_chart_rep=0 ;
        var charlson_table_rep=0 ;
        var charlson_chart_rep=0 ;
        var gen_table_rep=0 ;
        var gen_chart_rep=0 ;
        var cp_all_rep=0 ;
        var allPubNotes = {};
        var allPubTitles = {};
    </script>
    <script>
    $(document).ready(function(){
        var note ;
        var hash ;
        var el_name_to_value = {"#irnote": "{{ ir_notes|striptags|safe }}",
            "#charnote": "{{ char_notes|striptags|safe }}", "#pathwaysnote": "{{ pathways_notes|striptags|safe }}"};
        var el_name_to_var = {"#ir_table": "ir_table_rep", "#ir_all": "ir_all_rep", "#pre_table": "pre_table_rep",
            "#pre_chart": "pre_chart_rep", "#drug_table": "drug_table_rep", "#drug_chart": "drug_chart_rep",
            "#demograph_table": "demograph_table_rep", "#demograph_chart": "demograph_chart_rep",
            "#charlson_table": "charlson_table_rep", "#charlson_chart": "charlson_chart_rep", "#gen_table": "gen_table_rep",
            "#gen_chart": "gen_chart_rep", "#cp_all": "cp_all_rep"
        }


        $(Object.keys(el_name_to_value).join(", ")).on("change", function(){
            if($(this).is(':checked')){
                all_notes[$(this).attr("id").replace("note", "")] = el_name_to_value["#"+$(this).attr("id")];
            } else {
                delete all_notes[$(this).attr("id").replace("note", "")];
            };
        });


        $(Object.keys(el_name_to_var).join(", ")).on("change", function(){
            if ($(this).is(':checked')) {
                eval(''+el_name_to_var["#"+$(this).attr("id")]+' = 1 ');

            }else{
                eval(''+el_name_to_var["#"+$(this).attr("id")]+' = 0 ');
            }
        });


    // $("#closeIr").click(function() {
    //     var scid={{scenario_open}};
    //     var note_val="";
    //
    //
    //     $.ajax({
    //             url: "/ajax/report_pdf",
    //             data: {"scenario_id": scid , "cp_all_rep": cp_all_rep, "charlson_table_rep": charlson_table_rep,
    //             "gen_table_rep":gen_table_rep, "gen_chart_rep":gen_chart_rep,
    //             "charlson_chart_rep":charlson_chart_rep, "demograph_table_rep": demograph_table_rep,
    //             "demograph_chart_rep":demograph_chart_rep,"drug_table_rep":drug_table_rep,
    //             "drug_chart_rep":drug_chart_rep,"pre_table_rep": pre_table_rep,"pre_chart_rep": pre_chart_rep,
    //             "ir_table_rep": ir_table_rep,"ir_all_rep": ir_all_rep,"all_notes": JSON.stringify(all_notes),
    //             "allPubTitles": JSON.stringify(allPubTitles), "allPubNotes": JSON.stringify(allPubNotes)},
    //             dataType: "html",
    //             success: function (res) {
    //
    //               },
    //           error: function (res) {
    //             console.log("error "+res);
    //           }
    //     });
    //
    // });

    // $("#closeChar").click(function() {
    //     var scid={{scenario_open}};
    //     var note_val="";
    //
    //
    //     $.ajax({
    //             url: "/ajax/report_pdf",
    //             data: {"scenario_id": scid , "cp_all_rep": cp_all_rep, "charlson_table_rep": charlson_table_rep,
    //             "gen_table_rep":gen_table_rep, "gen_chart_rep":gen_chart_rep,
    //             "charlson_chart_rep":charlson_chart_rep, "demograph_table_rep": demograph_table_rep,
    //             "demograph_chart_rep":demograph_chart_rep,"drug_table_rep":drug_table_rep,
    //             "drug_chart_rep":drug_chart_rep,"pre_table_rep": pre_table_rep,"pre_chart_rep": pre_chart_rep,
    //             "ir_table_rep": ir_table_rep,"ir_all_rep": ir_all_rep,"all_notes": JSON.stringify(all_notes),
    //             "allPubTitles": JSON.stringify(allPubTitles), "allPubNotes": JSON.stringify(allPubNotes)},
    //             dataType: "html",
    //             success: function (res) {
    //
    //
    //               },
    //               error: function (res) {
    //                 console.log("error "+res);
    //             }
    //     });
    //
    // });

    // $("#closePath").click(function() {
    //     var scid={{scenario_open}};
    //     var note_val="";
    //
    //
    //     $.ajax({
    //             url: "/ajax/report_pdf",
    //             data: {"scenario_id": scid , "cp_all_rep": cp_all_rep, "charlson_table_rep": charlson_table_rep,
    //             "gen_table_rep":gen_table_rep, "gen_chart_rep":gen_chart_rep,
    //             "charlson_chart_rep":charlson_chart_rep, "demograph_table_rep": demograph_table_rep,
    //             "demograph_chart_rep":demograph_chart_rep,"drug_table_rep":drug_table_rep,
    //             "drug_chart_rep":drug_chart_rep,"pre_table_rep": pre_table_rep,"pre_chart_rep": pre_chart_rep,
    //             "ir_table_rep": ir_table_rep,"ir_all_rep": ir_all_rep,"all_notes": JSON.stringify(all_notes),
    //             "allPubTitles": JSON.stringify(allPubTitles), "allPubNotes": JSON.stringify(allPubNotes)},
    //             dataType: "html",
    //             success: function (res) {
    //
    //
    //               },
    //               error: function (res) {
    //                 console.log("error "+res);
    //             }
    //     });
    //
    // });

    $("#proceed-report-btn, #resultBtn").click(function() {
        var scid={{scenario_open}};
        var note_val="";

        $("#loaderOverlay").fadeIn();

        $.ajax({
                url: "/ajax/report_pdf",
                data: {"scenario_id": scid , "cp_all_rep": cp_all_rep, "charlson_table_rep": charlson_table_rep,
                "gen_table_rep":gen_table_rep, "gen_chart_rep":gen_chart_rep,
                "charlson_chart_rep":charlson_chart_rep, "demograph_table_rep": demograph_table_rep,
                "demograph_chart_rep":demograph_chart_rep,"drug_table_rep":drug_table_rep,
                "drug_chart_rep":drug_chart_rep,"pre_table_rep": pre_table_rep,"pre_chart_rep": pre_chart_rep,
                "ir_table_rep": ir_table_rep,"ir_all_rep": ir_all_rep,"all_notes": JSON.stringify(all_notes),
                "allPubTitles": JSON.stringify(allPubTitles), "allPubNotes": JSON.stringify(allPubNotes) },
                dataType: "html",
                success: function (res) {
                    var el = document.createElement("html");
                    el.innerHTML = res;
                    var head_content = el.getElementsByTagName("head")[0].innerHTML;
                    $("head").append(head_content);
                    var div_content = $("<div />").append(res).find("#reportBody").html();
                    $("#report_preview").html(div_content);
                    // $("#loaderOverlay").fadeOut();
                },
                error: function (res) {
                    console.log("error "+res);
                }
            });
        $("#loaderOverlay").fadeOut();

            $("#div1").hide();
            $("#div2").show();
    });


    $("#downloadReportBtn").click(function() {
        $("#loaderOverlay").fadeIn();
        var scid={{scenario_open}};

        var extra_notes=$("#editFnote").val();

        var xhr = new XMLHttpRequest();
        var params = "scenario_id="+JSON.stringify(scid)+"&all_notes="+JSON.stringify(all_notes)+"&extra_notes="+JSON.stringify(extra_notes)+"&allPubTitles="+JSON.stringify(allPubTitles)+"&allPubNotes="+JSON.stringify(allPubNotes);

        xhr.open('GET', '/ajax/print_report'+"?"+params, true);
        xhr.responseType = 'blob';

        xhr.onload = function(e) {
          if (this.status == 200) {
            // var blob = new Blob([this.response], {type: 'application/pdf'});
            var fileURL = URL.createObjectURL(this.response);
            // window.open(fileURL,'_blank');
            var downloadLink = document.createElement("a");
            downloadLink.target="_blank"
            downloadLink.href = fileURL;
            downloadLink.download = "report.pdf";

            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);

            setTimeout(function(){
                // For Firefox it is necessary to delay revoking the ObjectURL
                window.URL.revokeObjectURL(fileURL);
            }, 100);
          }
        };

        xhr.send();
        $("#loaderOverlay").fadeOut();

    });

    $('input[class^="class"]').click(function() {
        var $this = $(this);
        if ($this.is(".class_ir_table")) {
            if ($(".class_ir_table:checked").length > 0) {
                $(".class_ir_all").prop({ disabled: true});
            } else{
             $(".class_ir_all").prop({ disabled: false});
            }
        }
        if ($this.is(".class_ir_all")) {
            if ($(".class_ir_all:checked").length > 0) {
                $(".class_ir_table").prop({ disabled: true});
            } else{
             $(".class_ir_table").prop({ disabled: false});

            }

        }
    });

    });
    </script>
    <script src="/static/build/js/final_report.js"></script>

{% endblock javascripts%}
