{% extends 'app/base_site.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block title %} {{title}} {% endblock %}
{% block javascripts %}
    {{ block.super }}
	<script>
		$(".modalIframe").load(function () {
			$(this).contents().find("body").css({"background-color": "transparent"});
		});
	</script>
{% endblock %}

{% block content %}
	<div class="right_col" role="main">
    <!-- top tiles -->
		<div class="row tile_count">
		  <div>
			  <div class="x_panel">
				<div class="x_title">
					<form action="" method="post" class="ma-form col-xs-8  col-xs-offset-1 mt-3"  id="first-section" autocomplete="off" novalidate>
						{% csrf_token %}

						<div>
							{% block buttongroup %}
				  			{% endblock %}
						</div>

						{% if messages %}
							{% for message in messages %}
								<div id="message_container" {% if message.tags %} class="mt-5 {{ message.tags }}" {% endif %}>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}

						{% block formcontent %}
						{% endblock %}

						{% block toolbarbuttons %}
						<div class="btn-group col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 mt-4" role="group" aria-label="Toolbar buttons">
							<button class="btn btn-primary col-xs-4" type="submit">
							<i class="fa fa-save"></i>
							<span class="visible-lg">
								{% trans "Αποθήκευση" %}
							</span>

							</button>

							<button class="btn btn-danger col-xs-4 d-{{visibility}}" {{delete_switch}} data-toggle="modal"
									data-target="#scDeleteConfirmModal" type="button">
									<i class="fa fa-eraser"></i>
									<span class="visible-lg">
										{% trans "Διαγραφή" %}
									 </span>
							</button>


							<a class="btn btn-dark col-xs-4" type="button"
								href="{% url 'index' %}">
								<i class="fa fa-reply"></i>
								<span class="visible-lg">
									{% trans "Σενάρια" %}
								</span>
							</a>

						</div>
						{% endblock %}
					</form>
				</div>
			  </div>
		  </div>
		</div>
	</div>


{% endblock %}