{% extends "app/base_site.html" %}
{% load i18n %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-4 col-offset-6">
          <div class="x_panel">
            <div class="x_title">
              <h2 id="scTblTitle">{% trans "Προσωπικά Σενάρια Διερεύνησης" %}
              </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">
                {% trans "Στον ακόλουθο πίνακα μπορείτε να δείτε τα σενάρια που έχετε ήδη δημιουργήσει. Επίσης, μπορείτε να προσθέσετε ένα νέο σενάριο επιλέγοντας το κουμπί προσθήκης σεναρίων, που βρίσκεται κάτω από τον πίνακα σεναρίων." %}
              </p>
              <table id="scenariosTbl" class="table table-striped table-bordered dt-responsive dataTable dt-multilingual nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>#{% trans "Σενάριο" %}</th>
                    <th>{% trans "Τίτλος" %}</th>
<!--                    <th>{% trans "Κατάσταση" %}</th>-->
                    <th>{% trans "Ημ/νία καταχώρισης" %}</th>
                    <th>{% trans "Περιβάλλοντα Εργασίας" %}</th>
                    <th>{% trans "Επεξεργασία" %}</th>
                    <th>{% trans "Αναφορά" %}</th>
                    <th>{% trans "Διαγραφή" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for scenario in scenarios %}
                    <tr>
                      <td><a href={% url 'edit_scenario' scenario.id %}>{{ forloop.counter }}</a></td>
                      <td>
                        <a class="has-popover" href="{% url 'edit_scenario' scenario.id %}" data-html="true" data-content="
                          <table class='table table-striped table-bordered dt-responsive dt-multilingual nowrap' cellspacing='0' width='100%'>
                                  <thead>
                                    <tr>

                                      <th>{% trans 'Φάρμακο/Φάρμακα' %}</th>
                                      <th>{% trans 'Πάθηση/Παθήσεις' %}</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table>
                                          {% for d in scenario.drugs %}
                                            <tr>
                                              <td>{% firstof d.name d.code %}</td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </td>

                                      <td>
                                        <table>
                                          {% for c in scenario.conditions %}
                                            <tr>
                                              <td>{% firstof c.name c.code %}</td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                          </table>
                        " data-placement="right" data-container="body" data-width="100%">
                          {{ scenario.title }}
                        </a>
                      </td>
<!--                      <td>-->
<!--                        {{ scenario.status }}-->
<!--                      </td>-->

                      <td>
                        {{ scenario.timestamp }}
                      </td>

                      <td>
                        <table>
                          <tr>
                            <td>
                              <a href="{% url 'OpenFDAWorkspace' scenario.id %}">
                                <!--<i class="fa fa-eye"></i>-->
                                  <img class="img-icon" src="{% static 'images/openFDA.png' %}">
                              </a>
                            </td>
                            <td>
                              <a href="{% url 'ohdsi_workspace' scenario.id %}">
                                <!--<i class="fa fa-eye"></i>-->
                                <!--<span class="badge">-->
                                  <img class="img-icon" src="{% static 'images/ohdsi.png' %}">
                                <!--</span>-->
                              </a>
                           </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="#" id="pubmed_link">
                                <!--<i class="fa fa-eye"></i>-->

                                  <img class="img-icon" name="pubmed_image_{{ scenario.id }}" src="{% static 'images/PubMed.png' %}">
                              </a>
                            </td>
                            <td>
                              <a href="{% url 'social_media_workspace' scenario.id %}">
                                <!--<i class="fa fa-eye"></i>-->
                                <!--<span class="badge">-->
                                  <img class="img-icon" src="{% static 'images/twitter.png' %}">
                                <!--</span>-->

                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>

                      <td>
                        <a href={% url 'edit_scenario' scenario.id %}>
                          <i class="fa fa-edit"></i>
                        </a>
                      </td>

                      <td>
                        <button class="btn btn-outline sc-report-btn" data-href="{% url 'final_report' scenario.id %}">
                          <i class="fas fa-file-pdf"></i>
                        </button>
                      </td>

                      <td>
                        <button class="btn btn-outline delete-sc-btn" data-scid="{{ scenario.id }}" type="button">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        <a href="{% url 'add_scenario' %}" class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-plus-square"></i> {% trans "Προσθήκη σεναρίου" %}</a>
        </div>

    </div>
  </div>

{% endblock content %}


{% block javascripts %}
  {{ block.super }}

  <script>
    $(function() {
      var url = "aggr-notes/" + $("#curLang").data("lang");
      $("#aggrNotesBtn").attr("data-url", url);


      $(document).on("click", ".delete-sc-btn", function () {
        $("#scDeleteConfirmModal").modal("show");
        // On trash can button click, pass record id to modal confirm btn
        $("#confirmBtn").data("record", $(this).data("scid"));

      })
  });
  </script>


  <script src="/static/build/js/pv_literature.js"></script>

{% endblock javascripts %}

{% block modals %}
  {{ block.super }}
  {% trans "Επιβεβαίωση τροφοδότησης αναφοράς" as mod_title %}
  {% trans "Η διαδικασία αυτή μπορεί να έχει μεγάλη διάρκεια! Είστε σίγουροι ότι επιθυμείτε να προχωρήσετε;" as mod_body%}
  {% trans "Επιβεβαίωση" as main_lbl%}
  {% trans "Ακύρωση" as dismiss_lbl %}
  {% include 'app/modals/parametric_modal.html' with modal_type="confirmModal" modal_id="genReportConfirmModal" modal_title=mod_title modal_body=mod_body main_btn=main_lbl dismiss_btn=dismiss_lbl %}
{% endblock modals%}