{% extends 'app/form_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load custom_tags %}


{% block javascripts %}
    {{ block.super }}

	<!-- Select 2 css -->
	{{ form.media.js }}
    <script src='{% static "build/js/ir.js" %}'></script>
    {% if read_only == 0 %}
        <script>
            $("#topPVLogo, div.nav_menu, div.left_col, form#languageForm").css({"display":"none"});;
            $(".tile_count,.right_col").css({"background-color":"white"});
        </script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block title %} {{title}} {% endblock %}

{% block sliding_toolbar %}
    {% if read_only == 1 %}
    <div id="floater">
       <button class="btn notes-btn btn-dark" type="button" data-url="{% url 'keep_notes' sc_id=sc_id ws_id='OHDSI' wsview_id='ir' %}", data-id="ir_notes_OHDSI_{{ sc_id }}">
            <i class="fas fa-notes-medical fa-2x"></i>
            <span class="visible-lg">
                {% trans "Σημειώσεις" %}
            </span>
        </button>
    </div>

    {% endif %}
{% endblock %}

{% block formcontent %}
    {{ form|as_crispy_errors }}

    <h1> {{ title }}</h1>


    <div class="viewExplanation mt-3 mb-3">
        {% blocktrans trimmed %}Ο <strong>Ρυθμός Επίπτωσης</strong> είναι ένα μέτρο της συχνότητας εμφάνισης μιας ασθένειας ή άλλου περιστατικού κατά
        τη διάρκεια συγκεκριμένης χρονικής περιόδου.{% endblocktrans %}</div>

    <div class="mt-3">
        <div class="row">
            <div id="ageCrit" name="ageCrit" >{{ form.age_crit|as_crispy_field }}</div>
            <div id="ageLimitsCont" class="row mt-3 mb-1">
    <!--        <div class="row mt-3">-->
                <div id="dummyAgeBox" class="col-sm-3"></div>
                <div id="ageLowerLimitBlock" class="row col-xs-12 col-sm-4">
                    <div id="youngerAgeIco" class="col-xs-6">
                        <i class="fa fa-child fa-sm"></i>
                        <i class="fa fa-child fa-lg"></i>
                    </div>

                    <div id="ageLimit" class="col-xs-6" name="ageLimit">{{ form.age|as_crispy_field }}</div>
                </div>
<!--                <div id="andDiv" class="col-xs-12 col-sm-4">-->

                <div id="ageConj" class="col-xs-12 col-sm-4 mb-2 mt-1">{% trans "και" %}</div>

<!--                </div>-->
    <!--        </div>-->
    <!--        <div class="row mb-3">-->
                <div id="ageUpperLimitBlock" class="row col-xs-12 col-sm-4">
                    <div id="olderAgeIco" class="col-xs-6">
                        <i class="fa fa-child fa-2x"></i>
                        <i class="fa fa-child fa-3x"></i>
                    </div>
                    <div id="extAgeLimit" class="col-xs-6" name="extAgeLimit">{{ form.ext_age|as_crispy_field }}</div>

                </div>
    <!--        </div>-->
            </div>
        </div>


        <div id="genders" class="mt-2" name="genders">
            <div class="invalid-feedback">{{fld.errors}}</div>
            <label for="genders" class="col-form-label ">
                {{ form.genders.label }}
            </label>
            <ul id="genderChoices">
                {% for fld in form.genders %}
                    <li class='gender-fld col-xs-12 col-sm-6'>{{fld.tag}} <!-- this is the checkbox input generated by django -->
                        <label for="{{fld.id_for_label}}">{{fld.choice_label}}</label>
                        <i class="{% if fld.data.value == 'MALE' %}fa fa-mars{% elif fld.data.value == 'FEMALE' %}fa fa-venus{% else %}fa fa-transgender-alt{% endif %}"></i></i>
                    </li>
                {% endfor %}
            </ul>
<!--            {{ form.genders|as_crispy_field }}-->
        </div>
        <div id="addStudyWindow" class="mt-3" name="addStudyWindow">{{ form.add_study_window|as_crispy_field }}</div>
        <div class="mb-3 date-fields">
            <div class="row middle-align">
                <div id="studyStartDate" name="studyStartDate" class="col-xs-11">
                    {{ form.study_start_date|as_crispy_field }}
                </div>
                <div class="col-xs-1 calendar-icon-div">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div class="row middle-align">
                <div id="studyEndDate" name="studyEndDate" class="col-xs-11">
                        {{ form.study_end_date|as_crispy_field }}
                </div>
                <div class="col-xs-1 calendar-icon-div">
                        <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>



<!--    <div class="iframe-cnt">-->
<!--        <iframe id="irframe" src="{{ results_url}}"></iframe>-->
<!--    </div>-->

{% endblock %}

{% block toolbarbuttons %}
        {% if read_only == 1 %}
        <div class="btn-group col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 mt-4" role="group" aria-label="Toolbar buttons">
            <button id="editFormBtn" class="btn btn-primary col-xs-4" data-toggle="modal" data-target="#editIRModal" type="button">
                <i class="fa fa-edit"></i>
                <span class="visible-lg">
                    {% trans "Επεξεργασία" %}
                </span>
            </button>

            <button class="btn btn-danger col-xs-4 d-{{visibility}}" data-toggle="modal" data-target="#analysisIRModal" type="button">
                    <i class="fa fa-bar-chart"></i>
                    <span class="visible-lg">
                        {% trans "Ανάλυση" %}
                     </span>
            </button>


            <a class="btn btn-dark col-xs-4" type="button"
                href="{% url 'ohdsi_workspace' sc_id %}">
                <i class="fa fa-reply"></i>
                <span class="visible-lg">
                    {% trans "Επιστροφή" %}
                </span>
            </a>
        </div>
        {% else %}
        <div class="btn-group col-xs-10 col-lg-8 col-xs-offset-2 mt-4" role="group" aria-label="Toolbar buttons">
            <button id="irSaveBtn" class="btn btn-primary col-xs-4" type="submit">
                <i class="fa fa-save"></i>
                <span class="visible-sm">
                    {% trans "Αποθήκευση" %}
                </span>
            </button>

            <button id="irCancelBtn" class="btn btn-danger col-xs-4" type="button" data-dismiss="modal" data-target="#editIRModal">
                    <i class="fa fa-close"></i>
                    <span class="visible-sm">
                        {% trans "Ακύρωση" %}
                     </span>
            </button>
        </div>
        {% endif %}


{% trans "Επεξεργασία παραμέτρων ανάλυσης" as editIR_mod_title %}
{% include 'app/modals/parametric_modal.html' with modal_type="viewModal" modal_id="editIRModal" modal_title=editIR_mod_title modal_iframe_url=request.get_full_path|add:"/0" %}


{% trans "Ανάλυση Ρυθμού Επίπτωσης" as analysisIR_mod_title %}
{% trans " έως " as to_lex %}
{% if form.add_study_window.value %}
    {% trans "Χρονικό παράθυρο μελέτης: "|add:form.study_start_date.value|add:to_lex|add:form.study_end_date.value as study_window_lex %}
{% else %}
    {% trans "Δεν έχει οριστεί συγκεκριμένο χρονικό παράθυρο μελέτης!" as study_window_lex %}
{% endif %}
{% trans "Πληροφορίες για αναφορά ανάλυσης" as expl_info_title %}
{% blocktrans asvar expl_info %}
    <p>Το αποτέλεσμα της ανάλυσης που πραγματοποιήθηκε, εμφανίζεται με δύο διαφορετικές οπτικές απεικονίσεις,
        πατώντας στο κουμπί <strong>Reports</strong>.</p>
    <ul>
        <li>
            <p>Η πρώτη μορφή απεικόνισης γίνεται σε επίπεδο <strong>πίνακα</strong>, με τα αποτελέσματα που αφορούν τόσο
                τα συγκεντρωτικά όσο και τα αναλυτικά αριθμητικά και στατιστικά στοιχεία των κριτηρίων που ορίστηκαν από
                τον χρήστη, για την ανάλυση ρυθμού επίπτωσης.</p>
            <p>
                Τα στοιχεία αυτά <strong>αφορούν συγκεκριμένο χρονικό παράθυρο μελέτης, αν αυτό επιλέχθηκε,
                διαφορετικά αφορούν τη συνολική περίοδο για την οποία υπάρχουν δεδομένα στο σύστημα</strong>.
                Συγκεκριμένα τα προαναφερόμενα στοιχεία είναι τα ακόλουθα:
                <ul>
                    <li><strong>Persons/N</strong>: Ο αριθμός των ατόμων που πληρούν το εκάστοτε κριτήριο.</li>
                    <li><strong>Cases</strong>: Ο αριθμός των ατόμων που πληρούν το εκάστοτε κριτήριο και στα οποία
                        παρατηρείται η εκδήλωση συμβάντος.</li>
                    <li><strong>Proportions [+|-] per 1k persons</strong>: Η αναλογία αριθμού ατόμων που πληρούν το
                        κριτήριο και στα οποία παρατηρείται η εκδήλωση συμβάντος προς τον αριθμό των ατόμων που απλά
                        πληρούν το κριτήριο, με αναγωγή σε χιλιάδα ατόμων.</li>
                    <li><strong>Time at Risk (years)</strong>: Το μέγεθος "Time At Risk" είναι ένα μέτρο
                        κινδύνου βάσει χρόνου. Συγκεκριμένα, δείχνει την αθροιστική περίοδο χρόνου, όπου δεν
                        παρατηρήθηκε κάποιο συμβάν (από τα επιλεγμένα βάσει σεναρίου), στον πληθυσμό που πληροί το
                        εκάστοτε κριτήριο.
                    </li>
                    <li><strong>Rate [+|-] per 1k years</strong>: Ο αριθμός των ατόμων που πληρούν το εκάστοτε κριτήριο
                        και στα οποία παρατηρείται εκδήλωση κάποιου συμβάντος (από τα επιλεγμένα βάσει σεναρίου),
                        προς το σχετικό Time at Risk, ανά χίλια έτη (<strong>[Cases/TaR]*1000</strong>).
                    </li>
                </ul>
            </p>
        </li>
        <li>
            <p>
                Η δεύτερη μορφή απεικόνισης είναι ένα <strong>treemap γράφημα</strong>, όπου τα αποτελέσματα της
                ανάλυσης, απεικονίζονται με τη μορφή ορθογωνίων. Η απεικόνιση αυτή παρέχει μια ιεραρχική προβολή των
                δεδομένων και διευκολύνει να εντοπίστούν μοτίβα στην ανάλυση. Το γράφημα treemap εμφανίζει κατηγορίες
                κατά χρώμα και εγγύτητα και μπορεί εύκολα να παρουσιάσει πολλά δεδομένα, κάτι που θα ήταν δύσκολο να
                γίνει με άλλους τύπους γραφημάτων.
            </p>
            <p>
                <strong>Η διέλευση πάνω από κάθε ορθογώνιο, οδηγεί στην αναγραφή λεπτομερειών για τη συγκεκριμένη ομαδοποίηση.</strong>
                Οι λεπτομέρειες αυτές αφορούν το συνδυασμό κριτηρίων που πληρούνται, σε σχέση με τα κριτήρια που
                ορίστηκαν για την συγκεκριμένη ανάλυση, καθώς και τα αντίστοιχα μεγέθη και στατιστικά όπως ο αριθμός των
                σχετικών περιπτώσεων (εκδήλωσης συμβάντος), το Time at Risk, το πληθυσμιακό ποσοστό ανά χιλιετία και ο
                συνολικός αριθμός των ατόμων της συγκεκριμένης ομάδας. <strong>Παράλληλα, επισημαίνονται στον σχετικό πίνακα
                (βλ. πρώτη μορφή απεικόνισης), με κόκκινο χρώμα, τα κριτήρια τα οποία δεν πληρούνται για το συγκεκριμένο
                ορθογώνιο/ομαδοποίηση</strong>.
            </p>
        </li>
    </ul>

{% endblocktrans %}

{% include 'app/modals/parametric_modal.html' with modal_type="viewModal" modal_id="analysisIRModal" modal_title=analysisIR_mod_title modal_iframe_url=results_url additional_info=study_window_lex help_info_title=expl_info_title help_info=expl_info %}

{% endblock %}
