{% extends 'app/base_site.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load custom_tags %}


{% block title %} New Case {% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


{% endblock stylesheets %}

{% block content %}
	<div class="right_col" role="main">
		<div class="row tile_count">
		  <div>
			  <div class="x_panel">
				<div class="x_title">
					<b>{% trans "*Εάν θέλετε να προσθέσετε μία νέα περίπτωση ασθενούς, ακολουθήστε τα επόμενα βήματα:" %}</b>
					<br>
					<br>
					<div style="padding-left: 20px;">
						<b>{% trans "Βήμα 1:" %}</b> {% trans "Συμπληρώστε το πεδίο 'Ταυτότητα Ασθενούς'," %}<br>
						<b>{% trans "Βήμα 2:" %}</b> {% trans "Επιλέξτε ένα Σενάριο Διερεύνισης," %}<br>
						<b>{% trans "Βήμα 3:" %}</b> {% trans "Συμπληρώστε το ερωτηματολόγιο," %} <br>
						<b>{% trans "Βήμα 4:" %}</b> {% trans "Πατήστε 'Αποθήκευση' για να αποθηκεύσετε τη νέα Υπόθεση Ασθενούς." %}</div>
					<br>
					<br>
                    <form method="POST" class="post-form">
        				{% csrf_token %}


        <div id="scTitleDiv" name="scTitleDiv" style=" font-size: 150%;">{{ form.patient_id|as_crispy_field }}</div>
						<br>
			<div id="scenarios-panel" class="container">
			  <div class="panel-group">
				<div class="panel panel-default">
				  <div id="SelectExistScen" class="panel-body btn-dark collapsed" style="background-color:#73879C;" data-toggle="collapse"  href="#collapseScen" >{% trans "Επέλεξε ένα από τα υπάρχοντα σενάρια" %}</div>
				  	<div id="collapseScen" class="panel-collapse collapse">
						<ul class="list-group">
					  		<li class="list-group-item">
							<input id="myInput" type="text" placeholder="{% trans "Αναζήτηση..." %}">
									<br>
									<br>

								{% for sc in form.fields.scenarios.choices %}
								{% with scenarios|get_elmnt_by_val:sc.0 as scen_obj %}
								<br>
								 <a class="has-popover" data-html="true" data-content="
                          <table class='table table-striped table-bordered dt-responsive dt-multilingual nowrap' cellspacing='0' width='100%'>
                                  <thead>
                                    <tr>

                                      <th>{% trans 'Φάρμακο/Φάρμακα' %}</th>
                                      <th>{% trans 'Πάθηση/Παθήσεις' %}</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table>
                                          {% for d in scen_obj.drugs %}
                                            <tr>
                                              <td>{% firstof d.name d.code %}</td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </td>

                                      <td>
                                        <table>
                                          {% for c in scen_obj.conditions %}
                                            <tr>
                                              <td>{% firstof c.name c.code %}</td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                          </table>
                        " data-placement="right" data-container="body" data-width="100%">
							{{ form.scenarios|get_elmnt_by_index:forloop.counter0 }}
								 </a>
									{% endwith %}


								{% endfor %}

					  		</li>
						</ul>

						<div style="margin-top:15px"></div>
							<p style="margin-left: 40px;">{% trans "*Εάν το σενάριο με το οποίο θέλετε να συσχετίσετε" %}
								{% trans "τον ασθενή, δεν υπάρχει στη λίστα των σεναρίων, δημιουργήστε νέο Σενάριο Διερεύνησης," %}
								{% trans  "συμπληρώστε την Ταυτότητα Ασθενούς και επιλέξτε το σενάριο που μόλις" %}
								{% trans  "δημιουργήσατε από τη λίστα σεναρίων." %}</p>

							<a data-target="#patientModal" data-toggle="modal" class="btn btn-primary pull-leftt" style="margin-left: 40px;"><i class="fa fa-plus-square"></i>&nbsp{% trans "Προσθέστε νέο Σενάριο Διερεύνησης"%}</span></a>
				  	</div>
				</div>
			  </div>
			</div>

			<div style="margin-top:40px"></div>

		  <a id="quest_modal" data-target="#questionnaireModal" data-toggle="modal" class="btn btn-warning pull-left" style="margin-left: 10px;" ></i>&nbsp
			  {% trans "Ερωτηματολόγιο" %}</span></a>

		<br>
			<div style="display:none;" class="mt-3">{{ form.questionnaires|as_crispy_field }}</div>

		<br>
		<br>
		<br>

			{% if quest_id != None %}

		<div style="margin: auto; width: 70%; color:red;"><b>{% trans "Μόλις ολοκληρώσατε το ερωτηματολόγιο! Εάν θέλετε να αποθηκεύσετε την νέα" %}
			{% trans "Υπόθεση Ασθενούς σας, μην ξεχάσετε να πατήσετε το κουμπί 'Αποθήκευση' πριν αλλάξετε σελίδα!" %}
		</b></div>
			{% endif %}

		 {% block toolbarbuttons %}
		<div class="btn-group col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 mt-4" role="group" aria-label="Toolbar buttons">
				<button class="save btn btn-primary col-xs-4" type="submit">
				<i class="fa fa-save"></i>
				<span class="visible-lg">
					{% trans "Αποθήκευση" %}
				</span>

				</button>


			<a class="btn btn-dark col-xs-4" type="button"
				href="{% url 'patient_management_workspace' %}">
				<i class="fa fa-reply"></i>
				<span class="visible-lg">
					{% trans "Περιβάλλον Διαχείρισης Ασθενών" %}
				</span>
			</a>

		</div>
		{% endblock %}

    				</form>

            </div>
          </div>
      </div>
    </div>

 </div>

	</div>

{% include 'app/modals/scenario_patient_modal.html'%}

{% endblock %}

{% block javascripts %}
  {{ block.super }}

<script>

 $(document).ready(function() {

 	var sc_id = 'None'
	var new_scen_id = 'None'

	 $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#div_id_scenarios label").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });

	$(document).on('click', 'input[type="checkbox"]', function() {
    $('input[type="checkbox"]').not(this).prop('checked', false);
		});

	$('input[name="scenarios"]').on("change", function() {
              if($('input[name="scenarios"]:checked').length == 1) {
                sc_id = $(this).val();
                console.log(sc_id)
              }
   	});

	$('#patientModal').on('hidden.bs.modal', function () {
 		      location.reload();

	});

	$('#questionnaireModal').on('hidden.bs.modal', function () {
      location.reload();

	});

	$('#quest_modal').on("click", function(){
		var patient_id = $("#id_patient_id").val();
		new_scen_id= '{{ new_scen_id_no }}'
		console.log(patient_id)
		console.log(sc_id)
		if( new_scen_id != 'None'){
			sc_id = new_scen_id;
		};


		if( patient_id && sc_id != 'None'){
			var url='http://127.0.0.1:8000/patient_management_workspace/new_case/questionnaire/'+patient_id+'/'+sc_id+'/'

			$('#iframe_quest').attr('src', url);

		}else{

			location.reload();
			alert("Please complete a patient ID and an investigation scenario to proceed with the completion of the questionnaire");
		};


        $.ajax({
                url: "/ajax/new_case",
                data: {"patient_id":patient_id,"sc_id":sc_id },
                dataType: "html",
                success: function (res) {
                    console.log(patient_id);
                    console.log(sc_id);

                  },
                  error: function (res) {
                    console.log("error "+res);
                }
            });

		console.log(patient_id)
	  	console.log(sc_id)
	  	console.log(url)
	});


        });

</script>

{% endblock javascripts %}
