{% extends 'app/base_site.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %} New Case {% endblock %}
<style>
	#hide {
  display: none;
}
</style>

{% block content %}
	<div class="right_col" role="main">
		<div class="row tile_count">
		  <div>
			  <div class="x_panel">
				<div class="x_title">
                    <form method="POST" class="post-form">
        				{% csrf_token %}


        <div id="scTitleDiv" name="scTitleDiv" class="form-h1">{{ form.patient_id|as_crispy_field }}</div>
			<div id="scenarios-panel" class="container">
			  <div class="panel-group">
				<div class="panel panel-default">
				  <div class="panel-body btn-dark collapsed" data-toggle="collapse"  href="#collapseScen" >Select from existing scenarios</div>
				  	<div id="collapseScen" class="panel-collapse collapse">
						<ul class="list-group">
					  		<li class="list-group-item">
								<div class="mt-3">{{ form.scenarios|as_crispy_field }}</div>
					  		</li>
						</ul>
				  	</div>
				</div>

<!--{% for scen in form.scenarios %}-->

<!--				  <a class="has-popover" data-html="true" data-content="-->
<!--                          <table class='table table-striped table-bordered dt-responsive dt-multilingual nowrap' cellspacing='0' width='100%'>-->
<!--                                  <thead>-->
<!--                                    <tr>-->

<!--                                      <th>{% trans 'Φάρμακο/Φάρμακα' %}</th>-->
<!--                                      <th>{% trans 'Πάθηση/Παθήσεις' %}</th>-->

<!--                                    </tr>-->
<!--                                  </thead>-->
<!--                                  <tbody>-->
<!--                                    <tr>-->
<!--                                      <td>-->
<!--                                        <table>-->
<!--                                          {% for d in sc.drugs %}-->
<!--                                            <tr>-->
<!--                                              <td>{% firstof d.name d.code %}</td>-->
<!--                                            </tr>-->
<!--                                          {% endfor %}-->
<!--                                        </table>-->
<!--                                      </td>-->

<!--                                      <td>-->
<!--                                        <table>-->
<!--                                          {% for c in sc.conditions %}-->
<!--                                            <tr>-->
<!--                                              <td>{% firstof c.name c.code %}</td>-->
<!--                                            </tr>-->
<!--                                          {% endfor %}-->

<!--                                        </table>-->
<!--                                      </td>-->
<!--                                    </tr>-->
<!--                                  </tbody>-->
<!--                          </table>-->
<!--                        " data-placement="center" data-container="body" data-width="100%">-->
<!--                         <div id="scenario_title">{{scen}}</div>-->
<!--						<br>-->
<!--                        </a>-->
<!--				  <br>-->

<!--				  {%endfor%}-->

			  </div>
			</div>

			<div style="margin-top:20px"></div>

			<a data-target="#patientModal" data-toggle="modal" class="btn btn-primary pull-leftt" style="margin-left: 25px;"><i class="fa fa-plus-square"></i>&nbsp Add new investigation scenario</span></a>

			<div style="margin-top:40px"></div>

		  <a id="quest_modal" data-target="#questionnaireModal" data-toggle="modal" class="btn btn-warning pull-left" style="margin-left: 25px;" ></i>&nbsp Questionnaire</span></a>

		<br>
			<div style="display:none;" class="mt-3">{{ form.questionnaires|as_crispy_field }}</div>

		<br>

		 {% block toolbarbuttons %}
		<div class="btn-group col-xs-10 col-lg-8 col-xs-offset-1 col-lg-offset-2 mt-4" role="group" aria-label="Toolbar buttons">
				<button class="save btn btn-primary col-xs-4" type="submit">
				<i class="fa fa-save"></i>
				<span class="visible-lg">
					{% trans "Αποθήκευση" %}
				</span>

				</button>


			<a class="btn btn-dark col-xs-4" type="button"
				href="{% url 'patient_management_workspace' %}">
				<i class="fa fa-reply"></i>
				<span class="visible-lg">
					{% trans "Patient Management Workspace" %}
				</span>
			</a>

		</div>
		{% endblock %}

    				</form>

            </div>
          </div>
      </div>
    </div>

 </div>

	</div>

{% include 'app/modals/scenario_patient_modal.html'%}

{% endblock %}

{% block javascripts %}
  {{ block.super }}
<script>

 $(document).ready(function() {
 var sc_id = 'None'

 	$('#patientModal').on('hidden.bs.modal', function () {
      location.reload();

	});
	 	$('#questionnaireModal').on('hidden.bs.modal', function () {
      location.reload();

	});

	$('input[name="scenarios"]').click(function() {
              if($(this).is(":checked")) {
                sc_id = $(this).val();
              }
   	});

			$('#quest_modal').on("click", function(){
				var patient_id = $("#id_patient_id").val();

				if( patient_id && sc_id != 'None'){

				var url='http://127.0.0.1:8000/patient_management_workspace/new_case/questionnaire/'+patient_id+'/'+sc_id+'/'
				$('#iframe_quest').attr('src', url);

			}else{
			alert("Please complete a patient ID and an investigation scenario to proceed with the completion of the questionnaire");
			location.reload();
			};


        $.ajax({
                url: "/ajax/new_case",
                data: {"patient_id":patient_id,"sc_id":sc_id },
                dataType: "html",
                success: function (res) {
                    console.log(patient_id);
                    console.log(sc_id);

                  },
                  error: function (res) {
                    console.log("error "+res);
                }
            });

		console.log(patient_id)
	  	console.log(sc_id)
	  	console.log(url)
	});


        });

</script>



{% endblock javascripts %}