{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}
      <link href='{% static "vendors/fontawesome-free-5.15.1-web/css/all.css" %}' rel="stylesheet">
      <link href='{% static "vendors/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
      <link href='{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">

      <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
      <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
      <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
      <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


      <link href='{% static "build/css/notes.css" %}' rel="stylesheet">
      <link href='{% static "build/css/notes_aggregated.css" %}' rel="stylesheet">
      {{ form.media }}
    {% endblock head %}

    <title>PVClinical | {{title}}</title>
  </head>

  <body>
    <div id="curLang" data-lang={{ lang }}></div>
    <table id="userNotes{{ request.user }}" class="user-notes-table fold-table table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>{% trans "Σημειώσεις χρήστη (κοινές και ανά σενάριο)" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for struct_note in struct_notes %}
          {% for sc, workspaces in struct_note.items %}
        <tr><td><table class="fold-table"> <thead><tr><th></th></tr></thead><tbody>
          <tr class="view">
            {% if sc %}
              <td>{{ sc.title }}</td>
            {% else %}
              <td>{% trans "Κοινές για όλα τα σενάρια" %}</td>
            {% endif %}
          </tr>
          <tr class="fold">
            <td>
              <div class="fold-content">
                <table class="fold-table">
                  <thead>
                    <tr>
                      <th>{% trans "Περιβάλλοντα Εργασίας" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ws_name, wsviews in workspaces.items %}
                    <tr class="view">
                      <td>{{ ws_name }}</td>
                    </tr>
                    <tr class="fold">
                      <td>
                        <div class="fold-content">
                          <table class="fold-table">
                            <thead>
                              <tr>
                                <th>{% trans "Επιμέρους στοιχεία περιβάλλοντος εργασίας" %}</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for wsv, note in wsviews.items %}
                              <tr class="view">
                                <td>{{ wsv }}</td>
                              </tr>
                              <tr class="fold">
                                <td>
                                  <div class="fold-content">
                                    <button id="editBtn{{ note.id }}" class="btn btn-dark pull-right"><i class="fas fa-edit"></i></button>
                                    <button id="closeBtn{{ note.id }}" class="btn btn-dark pull-right"><i class="fas fa-close"></i></button>
                                    <div id="noteContent{{ note.id }}">{{ note.content|safe }}</div>
                                    {% if sc %}
                                      <iframe id="noteIframe{{ note.id }}" src="{% url 'keep_notes' sc_id=note.scenario.id ws_id=ws_name wsview_id=note.wsview %}" allowfullscreen></iframe>
                                    {% else %}
                                      <iframe id="noteIframe{{ note.id }}" src="{% url 'keep_notes' ws_id=ws_name wsview_id=note.wsview %}" allowfullscreen></iframe>
                                    {% endif %}
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>

                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          </tbody></table></td></tr>
          {% endfor %}
      {% endfor %}
      </tbody>
    </table>


<!--    <form action="" method="post" class="ma-form col-xs-12 mt-3"  id="notesForm" autocomplete="off" novalidate>-->
<!--      {% csrf_token %}-->

<!--      {% if messages %}-->
<!--          {% for message in messages %}-->
<!--              <div id="message_container" {% if message.tags %} class="mt-5 {{ message.tags }}" {% endif %}>-->
<!--                  {{ message }}-->
<!--              </div>-->
<!--          {% endfor %}-->
<!--      {% endif %}-->

<!--      {{ form|crispy }}-->
<!--      <div class="btn-group col-xs-4 col-xs-offset-8 mt-4" role="group" aria-label="Toolbar buttons">-->
<!--          <button id="notesSaveBtn" class="btn btn-primary col-xs-12" type="submit">-->
<!--            <i class="fa fa-save"></i>-->
<!--              <span class="visible-sm visible-lg visible-md">-->
<!--                {% trans "Αποθήκευση" %}-->
<!--              </span>-->
<!--          </button>-->
<!--      </div>-->
<!--    </form>-->
        <!-- jQuery -->
        <script src='{% static "vendors/jquery/dist/jquery.min.js" %}'></script>
        <!-- Bootstrap -->
        <script src='{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}'></script>
        <!-- Translations for javascript -->
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<!--        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->

        <script src="{% static '/vendors/jquery-highlight/js/jquery.highlight.js' %}"></script>

        <!-- Translations for datatables -->
        <script src='{% static "build/js/datatables-translate.js" %}'></script>

        <!-- Datatables -->
        <!-- Translations for datatables -->
        <script src='{% static "build/js/datatables-translate.js" %}'></script>

        <!-- Datatables -->
        <script src='{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-buttons/js/buttons.flash.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-buttons/js/buttons.html5.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-buttons/js/buttons.print.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %}'></script>
        <script src='{% static "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}'></script>
        <script src='{% static "vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %}'></script>
        <script src='{% static "vendors/datatables.mark.js/dist/datatables.mark.js" %}'></script>
        <script src='{% static "vendors/mark.js/dist/jquery.mark.js" %}'></script>
        <script src='{% static "vendors/mark.js/dist/mark.js" %}'></script>

        <script src='{% static "build/js/notes_aggregated.js" %}'></script>
        <script src='{% static "build/js/datatables-translate.js" %}'></script>
  </body>
</html>

