{% extends "app/base_site.html" %}
{% load i18n %}
{% load static %}
{% block title %} Fixed Sidebar {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- jQuery custom content scroller -->
    <link href="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block sidebar_class %}nav-md menu_fixed{% endblock sidebar_class %}

{% block content %}
    <div class="right_col" role="main">

        <div class="row my-1">
            <div class="col col-sm-12">
                <div>

                    <div class="tab-content" style="margin-left: 20px;">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="row drug-events-selection-row">
                                <div class="col drugSelectionCol">
                                    <div id="drugCheckBoxes">
                                        <fieldset>
                                            <legend class="legend-margins">
                                                <input type="checkbox" id="customCheckBox" class="custom-control-input" name="drugsAllCheckBox" onclick="toggleAllDECheckboxes('drugsAllCheckBox')">
                                                Drugs
                                            </legend>
                                            {% for drug in scenario.drugs %}
                                                <div class="custom-control custom-checkbox custom-control-inline"
                                                     href="#tab-1">
                                                    <input type="checkbox" id="customCheck1" class="custom-control-input" name="drugCheckBox" value="{{ drug.name }}" checked>
                                                    <label class="custom-control-label"
                                                           for="customCheck1">{{ drug.name }}</label>
                                                </div>
                                            {% endfor %}

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="row drug-events-selection-row mt-2">
                                <div class="col eventSelectionCol">
                                    <div id="eventCheckBoxes">
                                        <fieldset>

                                            <legend class="legend-margins">
                                                <input type="checkbox" id="customCheckBox" class="custom-control-input" name="eventsAllCheckBox" onclick="toggleAllDECheckboxes('eventsAllCheckBox')">
                                                Events
                                            </legend>
                                            {% for condition in scenario.conditions %}
                                                <div class="custom-control custom-checkbox custom-control-inline"
                                                     href="#tab-1">
                                                    <input type="checkbox" id="customCheck1" class="custom-control-input" name="eventCheckBox" value="{{ condition.name }}" checked>
                                                    <label class="custom-control-label"
                                                           for="customCheck1">{{ condition.name }}</label>
                                                </div>
                                            {% endfor %}
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <div class="row drug-events-selection-row">
                                <div class="col drugSelectionCol">
                                    <div id="drugRadios">
                                        <fieldset>

                                        <div  class="custom-control custom-checkbox custom-control-inline drugs-div"
                                                     href="#tab-2">
                                        <span class="DrugEventParameter">{% trans  'Φάρμακα' %}</span>
                                            {% for drug in scenario.drugs %}
                                                   <div class="float-left drug-event-radio ml-2">
                                                    <input type="radio" id="drugRadioInline{{ drug.id }}"
                                                           class="custom-control-input" name="drugRadio"
                                                           value="{{ drug.name }}" checked/>
                                                    <span class="custom-control-label"
                                                           for="customRadioInline1">{{ drug.name }}</span>
                                                   </div>
                                                {% endfor %}

                                        </div>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="row drug-events-selection-row mt-1">
                                <div class="col eventSelectionCol">
                                    <div id="eventRadios">
                                        <fieldset>
                                            <div  class="custom-control custom-checkbox custom-control-inline drugs-div"
                                                     href="#tab-2">
                                            <span class="DrugEventParameter">{% trans 'Ανεπιθύμητες ενέργειες' %}</span>
                                            {% for condition in scenario.conditions %}
                                                <div class="float-left drug-event-radio">
                                                    <input type="radio" id="eventRadioInline{{ condition.id }}"
                                                           class="custom-control-input" name="eventRadio"
                                                           value="{{ condition.name }}" checked/>
                                                    <span class="custom-control-label"
                                                           for="customRadioInline1">{{ condition.name }}</span>
                                                </div>
                                            {% endfor %}
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <fieldset>


                    </div>
                    <ul class="nav nav-tabs nav-items-custom mt-2" id="shinnyAppsTabs">
                        <li class="nav-item active" id="QuickViewDrugEvent"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1" aria-expanded="true">{% trans 'Γρήγορη επισκόπηση' %}</a>
                        </li>
                        <li class="nav-item active" id="QuickViewDrug"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1" aria-expanded="true">{% trans 'Γρήγορη επισκόπηση' %}</a>
                        </li>
                        <li class="nav-item active" id="QuickViewEvent"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1" aria-expanded="true">{% trans 'Γρήγορη επισκόπηση' %}</a>
                        </li>
                        <li class="nav-item" id="Dash"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1">{% trans 'Πίνακας' %}</a>
                        </li>
                        <li class="nav-item" id="RR_D"><a onclick="openProgressIndicator()" class="nav-link " role="tab" data-toggle="tab" href="#tab-1">{% trans 'Λόγος αναφορών' %}</a>
                        </li>
                        <li class="nav-item" id="RR_E"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1">{% trans 'Λόγος αναφορών' %}RR_E</a>
                        </li>
                        <li class="nav-item" id="LabelView"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab"
                                                               href="#tab-1">{% trans 'λαμπελβιου' %}</a></li>
                        <li class="nav-item" id="DynPRR"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1">{% trans 'Δυναμικό PRR' %}</a>
                        </li>
                        <li class="nav-item" id="ChangePoint"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab"
                                                                 href="#tab-1">{% trans 'Ανάλυση Αλλαγής Σημείου' %}</a></li>
                        <li class="nav-item" id="ReportView"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab"
                                                                href="#tab-1">{% trans 'Αναφορές' %}</a></li>
                        <li class="nav-item" id="LabelView"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab"
                                                               href="#tab-1">{% trans 'λαμπελβιου' %}</a></li>
                        <li class="nav-item" id="LrTest"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab" href="#tab-1">{% trans 'Έλεγχος Πιθανοτήτων' %}</a>
                        </li>
                        <li class="nav-item" id="LrTest_E"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab"
                                                              href="#tab-1">{% trans 'Έλεγχος Πιθανοτήτων' %}</a></li>
                        <li class="nav-item" id="DrugEnforceView"><a onclick="openProgressIndicator()" class="nav-link" role="tab" data-toggle="tab"
                                                                     href="#tab-1">{% trans 'ντραγκενφορσβιοθ' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column mt-6" style="margin-top: 10px;">
            <div class="row iframe-row">
                <div class="col">
                    <div id="divFrame">
                        <div id="first"  class="loader"></div>
                        <iframe id="shinnyAppsIFrame" onload="closeProgressIndicator()" src="" width="100%" height="360" style=" border: none;overflow: hidden;" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <!-- jQuery custom content scroller -->
    <script src="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        function groupChckBoxVal(chckbxType) {
            console.log("[name='"+chckbxType+"']");
            // Get the type of boxes belonging to the group (removing sAll)
            var boxesType = chckbxType.replace("sAll", "");
            console.log(boxesType);
            var allBoxesLength = $("input[name='"+boxesType+"']").length;
            var checkedBoxes = $("input[name='"+boxesType+"']:checked");
            var checkedBoxesLength = checkedBoxes.length;

            // switch (allBoxesLength - checkedBoxesLength) {
            //     case 0:
            //         $("[name='"+chckbxType+"']").attr("checked", true);
            //         console.log("checked");
            //         break;
            //     default:
            //         $("[name='"+chckbxType+"']").attr("indeterminate", true);
            //         console.log("indeterminate");
            // }
            if (allBoxesLength === checkedBoxesLength) {
                $("input[name='"+chckbxType+"']").prop("indeterminate", false);
                $("input[name='"+chckbxType+"']").prop("checked", true);
            } else {
                $("input[name='"+chckbxType+"']").prop("indeterminate", true);
                $("input[name='"+chckbxType+"']").prop("checked", false);
            }
        }

        groupChckBoxVal("drugsAllCheckBox");
        disableSingleCheckBox("drugCheckBox");
        groupChckBoxVal("eventsAllCheckBox");
        disableSingleCheckBox("eventCheckBox");

        $(".custom-checkbox input").change(function () {
            groupChckBoxVal($(this).attr("name").replace("CheckBox", "sAllCheckBox"));
            disableSingleCheckBox($(this).attr("name"));
        });

        function disableSingleCheckBox(chkbxType) {
            var checkedBoxes = $("input[name='"+chkbxType+"']:checked");
            if(checkedBoxes.length === 1) {
                checkedBoxes.first().prop("disabled", true);
            } else {
                checkedBoxes.prop("disabled", false);
            }
        }
        function toggleAllDECheckboxes(chckbxType) {
            // chckbxType refers to the group checkbox
            var boxesType = chckbxType.replace("sAll", "");
            var checkedBoxes = $("input[name='"+boxesType+"']:checked");

            if ($("input[name='"+chckbxType+"']").prop("checked")) {
                // $("input[name='"+chckbxType+"']").prop("indeterminate", false);
                $("input[name='"+boxesType+"']").prop("checked", true);
                $("input[name='"+boxesType+"']").trigger("change");
            } else {
                // $("input[name='"+chckbxType+"']").prop("indeterminate", true);
                // $("input[name='"+chckbxType+"']").prop("checked", false).trigger("true");
                checkedBoxes.prop("checked", false);
                checkedBoxes.first().prop("checked", true);
                checkedBoxes.first().trigger("change");
            }


            // if($("input[name='"+chckbxType+"']").prop("checked") == false){
            //     first_chkd = checkedBoxes.first()
            //     first_chkd.prop("checked", true).trigger("change");
            // }
        }

        function closeProgressIndicator() {
        $("#first").hide();
    }
    function openProgressIndicator() {
        $("#first").show();
    }
        var language = $('#curLang').attr('data-lang');
        var lang='gr'
        if(language=='Greek')
        {
            lang='gr'
        }
        else{
            lang='en'
        }
        var scenarioConditionsLength = '{{ scenario.conditions|length   }}';
        var scenarioDrugsLength = '{{ scenario.drugs|length  }}';
        var scenarioDrugs = '{{ scenario.drugs }}';
        var scenarioConditions = '{{ scenario.conditions }}';
        //var shinnyAppsUrl = 'https://openfda.shinyapps.io/';
        var shinnyAppsUrl = '{{ shiny_endpoint }}';
        var shinnyAppsQueryUrl = '';
        var app = 'QuickViewDrugEvent';
        var drug = '';
        var event = '';
        var drugsChecked = [];
        var eventsChecked = [];
        getCheckedElementOfRadios();
        var AppParametersDict = {
            "QuickViewDrugEvent": ["Drug", "Event"],
            "QuickViewDrug": ["Drug"],
            "QuickViewEvent": ["Event"],
            "Dash": ["Drug"],
            "RR_D": ["Drug"],
            "RR_E": ["Event"],
            "LabelView": ["Drug", "Event"],
            "DynPRR": ["Drug", "Event"],
            "ChangePoint": ["Drug", "Event"],
            "ReportView": ["Drug"],
            "LabelView": ["Drug"],
            "LrTest": ["Drug"],
            "LrTest_E": ["Event"],
            "DrugEnforceView": ["Event"]
        };
        var OnlyDrugApplications = ["QuickViewDrug", "Dash", "RR_D",  "LrTest", "ReportView"];
        var OnlyEventApplications = ["QuickViewEvent", "RR_E", "LrTest_E"];
        var DrugEventApplications = ["QuickViewDrugEvent", "DynPRR", "ChangePoint", "ReportView"];
        var activeParameters = []
        scenarioConditionsLength > 0 ? activeParameters.push("Event") : null;
        scenarioDrugsLength > 0 ? activeParameters.push("Drug") : null;
        var sessionAppId = app; //sessionStorage.getItem("shinnyAppId");
        if(scenarioConditionsLength>0 && scenarioDrugsLength>0)
        {
            app='QuickViewDrugEvent';
            if(sessionAppId!=null && DrugEventApplications.includes(sessionAppId)){
                app=sessionAppId;
                DrugEventApplications.forEach(function(item){
                    document.getElementById(item).className=document.getElementById(item).className.replace(" active", "");
                });
                document.getElementById(app).className += " active";
            }
        }
        else if(scenarioConditionsLength>0)
        {
            app='QuickViewEvent';
            if(sessionAppId!=null && OnlyEventApplications.includes(sessionAppId)){
                app=sessionAppId;
                OnlyEventApplications.forEach(function(item){
                    document.getElementById(item).className=document.getElementById(item).className.replace(" active", "");
                });
                document.getElementById(app).className += " active";
            }
        }
        else{
            app='QuickViewDrug';
            if(sessionAppId!=null && OnlyDrugApplications.includes(sessionAppId)){
                app=sessionAppId;
                OnlyDrugApplications.forEach(function(item){
                    document.getElementById(item).className=document.getElementById(item).className.replace(" active", "");
                });
                document.getElementById(app).className += " active";
            }
        }
        var sessionSelectedEvent = eventsChecked.join("|||");  //sessionStorage.getItem("shinnySelectedEvent");
        var sessionSelectedDrug = drugsChecked.join("|||"); //sessionStorage.getItem("shinnySelectedDrug");


        if(sessionSelectedDrug!=null){

            var checkboxes = document.getElementsByName("drugCheckBox");
            for (var i=0; i<checkboxes.length; i++) {
                  checkboxes[i].checked = false;
            }
            drugsChecked=sessionSelectedDrug.split('|||');
            for(var index in drugsChecked) {
                var drugRadio=$("input[value='"+drugsChecked[index]+"'][Type=checkbox] ");
                if (drugRadio.length > 0) {
                    drugRadio[0].checked = true;
                }
            }
            // disableSingleCheckBoxes()
        }
      if(sessionSelectedEvent!=null) {
          var checkboxes = document.getElementsByName("eventCheckBox");
            for (var i=0; i<checkboxes.length; i++) {
                  checkboxes[i].checked = false;
            }
          eventsChecked=sessionSelectedEvent.split('|||');
          for(var index in eventsChecked){
            var eventRadio=$("input[value='"+eventsChecked[index]+"'][Type=checkbox] ");
            if(eventRadio.length>0)
            {
                eventRadio[0].checked=true;
            }
          }
          // disableSingleCheckBoxes()

      }





        keepAppropriateAppsBasedOnParameters();

        buildUrl(app);
        //keepButtonsBasedOnApp(app);
        // initializeDropdowns();

        $('#shinnyAppsTabs a').click(function (e) {
            app=e.target.parentElement.id;

            // sessionStorage.setItem("shinnyAppId", app);
            sessionAppId = app;
            {#app = e.target.childNodes[0].textContent;#}
            getCheckedElementOfRadios();
            keepAppropriateAppsBasedOnParameters();
            buildUrl(app);
        })
        $('.drugSelectionCol input').click(function (e) {
            var checkbox=e.target;
            var drug = checkbox.value;
            if(checkbox.checked)
            {
                drugsChecked.push(drug);
            }
            else {
                drugsChecked=arrayRemove(drugsChecked,drug)
            }
            // disableSingleCheckBoxes()
            // sessionStorage.setItem("shinnySelectedDrug", drugsChecked);
            sessionSelectedDrug = drugsChecked.join("|||");
            buildUrl(app);
        })
        $('.eventSelectionCol input').click(function (e) {

            var checkbox=e.target;
            var event = checkbox.value;
            if(checkbox.checked)
            {
                eventsChecked.push(event);
            }
            else {
                eventsChecked=arrayRemove(eventsChecked,event)
            }
            // disableSingleCheckBoxes()
            // sessionStorage.setItem("shinnySelectedEvent", eventsChecked);
            sessionSelectedEvent = eventsChecked.join("|||");

            buildUrl(app);

        })
        function disableSingleCheckBoxes() {

            // // Fix zero boxes selected
            // if(eventsChecked.length===0) {
            //     document.getElementsByName("eventCheckBox")[0].checked = true;
            // }

            if(eventsChecked.length===1)
            {
               var checkedBox=getCheckedBoxes("eventCheckBox")[0];
               checkedBox.disabled = true;
            }
            else{
                var checkboxes = document.getElementsByName("eventCheckBox");
                for (var i=0; i<checkboxes.length; i++) {
                      checkboxes[i].disabled = false;
                }
            }

            // if(drugsChecked.length===0) {
            //     document.getElementsByName("drugCheckBox")[0].checked = true;
            // }

            if(drugsChecked.length===1)
            {
               var checkedBox=getCheckedBoxes("drugCheckBox")[0];
               checkedBox.disabled = true;
            }
            else{
                var checkboxes = document.getElementsByName("drugCheckBox");
                for (var i=0; i<checkboxes.length; i++) {
                      checkboxes[i].disabled = false;
                }
            }
        }
        function getCheckedBoxes(chkboxName) {
          var checkboxes = document.getElementsByName(chkboxName);
          var checkboxesChecked = [];
          // loop over them all
          for (var i=0; i<checkboxes.length; i++) {
             // And stick the checked ones onto an array...
             if (checkboxes[i].checked) {
                checkboxesChecked.push(checkboxes[i]);
             }
          }
          // Return the array if it is non-empty, or null
          return checkboxesChecked.length > 0 ? checkboxesChecked : null;
        }
        function arrayRemove(arr, value) {
            return arr.filter(function(ele){
                return ele != value;
            });
        }
        function getCheckedElementOfRadios() {
            if (app != 'QuickView2') {
                drugsChecked=[];
                eventsChecked=[];
                var ele = document.getElementsByName('drugCheckBox');
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].checked) {
                        drugsChecked.push(ele[i].value);
                    }
                }
                var ele = document.getElementsByName('eventCheckBox');
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].checked) {
                        eventsChecked.push(ele[i].value);
                    }
                }
            }


        }

        function initializeDropdowns() {
            document.getElementById("appsBtn").innerText = app;
            document.getElementById("drugBtn").innerText = drug;
            document.getElementById("eventBtn").innerText = event;
        }

        function buildUrl(app) {
            shinnyAppsQueryUrl = shinnyAppsUrl + app + '/?lang='+lang+'&';
            if (activeParameters.length == 2) {
                shinnyAppsQueryUrl = shinnyAppsQueryUrl + 't1=' +  drugsChecked.join("+") + '&v1=patient.drug.openfda.generic_name&' + 't2=' + eventsChecked.join("+") + '&v2=patient.reaction.reactionmeddrapt';
            } else if (activeParameters.includes('Drug')) {
                shinnyAppsQueryUrl = shinnyAppsQueryUrl + 't1=' + drugsChecked.join("+") + '&v1=patient.drug.openfda.generic_name';
            } else {
                shinnyAppsQueryUrl = shinnyAppsQueryUrl + 't1=' + eventsChecked.join("+") + '&v1=patient.reaction.reactionmeddrapt';
            }
            document.getElementById("shinnyAppsIFrame").src = shinnyAppsQueryUrl;
        }


        function keepAppropriateAppsBasedOnParameters() {
            var shinnyAppsTabs = document.getElementById("shinnyAppsTabs").getElementsByTagName('li');
            for (var i = 0; i < shinnyAppsTabs.length; i++) {
                var shinnyAppsTab = shinnyAppsTabs[i];
                shinnyAppsTab.style.display = "none";
            }

            if (activeParameters.length == 2) {
                document.getElementById("eventCheckBoxes").style.display = "block";
                document.getElementById("drugCheckBoxes").style.display = "block";
                document.getElementById("eventRadios").style.display = "block";
                document.getElementById("drugRadios").style.display = "block";
                for (var i = 0; i < DrugEventApplications.length; i++) {
                    document.getElementById(DrugEventApplications[i]).style.display = "block";
                }
            } else if (activeParameters.includes('Drug')) {
                document.getElementById("eventCheckBoxes").style.display = "none";
                document.getElementById("drugCheckBoxes").style.display = "block";
                document.getElementById("eventRadios").style.display = "none";
                document.getElementById("drugRadios").style.display = "block";
                for (var i = 0; i < OnlyDrugApplications.length; i++) {
                    document.getElementById(OnlyDrugApplications[i]).style.display = "block";

                }
            } else if (activeParameters.includes('Event')) {
                document.getElementById("eventCheckBoxes").style.display = "block";
                document.getElementById("drugCheckBoxes").style.display = "none";
                document.getElementById("eventRadios").style.display = "block";
                document.getElementById("drugRadios").style.display = "none";
                for (var i = 0; i < OnlyEventApplications.length; i++) {
                    document.getElementById(OnlyEventApplications[i]).style.display = "block";
                }
            }
        }

    </script>
{% endblock javascripts %}
