{% extends "app/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} Patient Management Workspace {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-4 col-offset-6">
          <div class="x_panel">
            <div class="x_title">
              <h2 id="scTblTitle">{% trans "Patient Management Workspace" %}
              </h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">
                 "Στον ακόλουθο πίνακα μπορείτε να δείτε τις αναφορές ασθενών σχετικά με την πιθανότητα
                  ανεπιθύμιτης ενέργειας φαρμάκουκαι τη συσχέτιση της κάθε μιας από αυτές με πιθανό
                 σενάρια διερεύνησης."             </p>
              <table id="scenariosTbl" class="table table-striped table-bordered dt-responsive dataTable dt-multilingual nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>#{% trans "Patient Id" %}</th>
                    <th>{% trans "Creation Date" %}</th>
                    <th>{% trans "Scenario Title" %}</th>
                    <th>{% trans "Drug" %}</th>
                    <th>{% trans "Condition" %}</th>
                    <th>{% trans "Delete" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for case in patient_cases %}

                    <tr>
                      <td>{{ case.patient_id }}</td>
                        <td>
                          {{ case.timestamp }}
                      </td>
                      <td>
<!--                          <a class="has-popover"  data-html="true" data-content="-->
<!--                          <table class='table table-striped table-bordered dt-responsive dt-multilingual nowrap' cellspacing='0' width='100%'>-->
<!--                                  <thead>-->
<!--                                    <tr>-->

<!--                                      <th>{% trans 'Φάρμακο/Φάρμακα' %}</th>-->
<!--                                      <th>{% trans 'Πάθηση/Παθήσεις' %}</th>-->

<!--                                    </tr>-->
<!--                                  </thead>-->
<!--                                  <tbody>-->
<!--                                    <tr>-->
<!--                                      <td>-->
<!--                                        <table>-->
<!--                                          {% for d in case.drugs %}-->
<!--                                            <tr>-->
<!--                                              <td>{% firstof d.name d.code %}</td>-->
<!--                                            </tr>-->
<!--                                          {% endfor %}-->
<!--                                        </table>-->
<!--                                      </td>-->

<!--                                      <td>-->
<!--                                        <table>-->
<!--                                          {% for c in scenario.conditions %}-->
<!--                                            <tr>-->
<!--                                              <td>{% firstof c.name c.code %}</td>-->
<!--                                            </tr>-->
<!--                                          {% endfor %}-->
<!--                                        </table>-->
<!--                                      </td>-->
<!--                                    </tr>-->
<!--                                  </tbody>-->
<!--                          </table>-->
<!--                        " data-placement="right" data-container="body" data-width="100%">-->
                        {{ case.scenario_title }}
<!--                          </a>-->
                      </td>
                      <td>
                         <table>
                            {% for d in case.drugs %}
                              <tr>
                                <td>{% firstof d.name d.code %}</td>
                              </tr>
                            {% endfor %}
                          </table>
                      </td>
                      <td>
                          <table>
                            {% for c in case.conditions %}
                              <tr>
                                <td>{% firstof c.name c.code %}</td>
                              </tr>
                            {% endfor %}
                          </table>
                      </td>

                      <td>
<!--                        {{ case.id }}-->
                        <button class="btn btn-outline delete-sc-btn" data-toggle="modal" id="case-modal" data-target="#caseDeleteConfirmModal" data-caseid="{{ case.id }}" type="button">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>

                    </tr>

                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
<a href="{% url 'new_case' %}" class="btn btn-primary pull-right"style="margin-right: 5px;"><i class="fa fa-plus-square"></i>&nbsp Add new case</span></a>        </div>



    </div>
  </div>

{% include 'app/modals/scenario_patient_modal.html'%}



<!--data-content="-->
<!--                          <table class='table table-striped table-bordered dt-responsive dt-multilingual nowrap' cellspacing='0' width='100%'>-->
<!--                                  <thead>-->
<!--                                    <tr>-->

<!--                                      <th>{% trans 'Φάρμακο/Φάρμακα' %}</th>-->
<!--                                      <th>{% trans 'Πάθηση/Παθήσεις' %}</th>-->

<!--                                    </tr>-->
<!--                                  </thead>-->
<!--                                  <tbody>-->
<!--                                    <tr>-->
<!--                                      <td>-->
                                        <table>
                                          {% for d in case.drugs %}
                                            <tr>
                                              <td>{% firstof d.name d.code %}</td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </td>

                                      <td>
                                        <table>
                                          {% for c in scenario.conditions %}
                                            <tr>
                                              <td>{% firstof c.name c.code %}</td>
                                            </tr>
                                          {% endfor %}
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                          </table>
<!--                        " data-placement="right" data-container="body" data-width="100%"-->

{% endblock content %}


{% block javascripts %}
  {{ block.super }}

  <script type="text/javascript">
            $(function() {
                $('#caseDeleteConfirmModal #confirmBtn').click(function() {
                var patient_id= $("#case-modal").data("caseid");
                console.log(patient_id);
                console.log('ok');


                $.ajax({
                        url: "{{ request.path }}",
                        data: {"patient_id": patient_id },
                        method: 'DELETE',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
                        }

                    }) 	.always(function(){
                            $('#caseDeleteConfirmModal').modal('hide');
                        })
                        .done(function(data) {
                            $('[class="modal-title"]').text("{% trans 'Επιτυχής διαγραφή!'%}");
                            $('[class="modal-body"]').text(data);

                            /* Info modal is already open */
                            $('#caseDeleteConfirmModal').on('hidden.bs.modal', function (e) {
                                window.location.replace("{% url 'patient_management_workspace' %}");
                                //location.reload();
                            });

                            $("#dismissBtn").on("click", function () {
                                $('#caseDeleteConfirmModal').modal('hide');
                            });

                        })
                        .fail(function(resp){
                            $('[class="modal-title"]').text("{% trans 'Αποτυχία διαγραφής!'%}");
                            $('[class="modal-body"]').text(resp.responseText);
                            $('#scDeleteInfoModal').on('hidden.bs.modal', function (e) {
                                location.reload();

            });

                });

                });
            });

            </script>

  <script src="/static/build/js/pv_literature.js"></script>


{% endblock javascripts %}




