{% extends "app/base_site.html" %}
{% load i18n %}
{% load static %}

{% block title %} Patient Management Workspace {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
<!-- top tiles -->
<div class="row tile_count">
  <div class="col-4 col-offset-6">
      <div class="x_panel">
        <div class="x_title">
          <h2 id="scTblTitle">{% trans "Περιβάλλον Διαχείρισης Ασθενών" %}
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p class="text-muted font-13 m-b-30">
              {% blocktrans %}
                  Στον ακόλουθο πίνακα, μπορείτε να δείτε τις αναφορές ασθενών σχετικά με την πιθανότητα ανεπιθύμητης ενέργειας φαρμάκου και τη συσχέτιση της κάθε μιας από αυτές με πιθανά  σενάρια διερεύνησης.
                  Επίσης, μπορείτε να προσθέσετε μία νέα καταχώριση επιλέγοντας το κουμπί προσθήκης νέας καταχώρισης, που βρίσκεται κάτω από τον πίνακα αναφορών ασθενών.
              {%  endblocktrans %}
          </p>
          <br>
          <table id="scenariosTbl" class="table table-striped table-bordered dt-responsive dataTable dt-multilingual nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>{% trans "Ασθενής" %}</th>
                <th>{% trans "Ημ/νία καταχώρισης" %}</th>
                <th>{% trans "Τίτλος Σεναρίου" %}</th>
                <th>{% trans "Φάρμακο/Φάρμακα" %}</th>
                <th>{% trans "Πάθηση/Παθήσεις" %}</th>
                <th>{% trans "Αποτελέσματα Ερωτηματολογίου" %}</th>
                <th>{% trans "Ιστορικό Ασθενή" %}</th>
                <th>{% trans "Διαγραφή" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for case in patient_cases %}

                <tr>
                  <td>{{ case.patient_id }}</td>
                    <td>
                      {{ case.timestamp }}
                  </td>
                  <td>
                    {{ case.scenario_title }}
                  </td>
                  <td>
                     <table>
                        {% for d in case.drugs %}
                          <tr>
                            <td style="text-align: left;">{% firstof d.name d.code %}</td>
                          </tr>
                        {% endfor %}
                      </table>
                  </td>
                  <td>
                      <table>
                        {% for c in case.conditions %}
                          <tr>
                            <td style="text-align: left;">{% firstof c.name c.code %}</td>
                          </tr>
                        {% endfor %}
                      </table>
                  </td>
                    <td>
                         <a id="answersDetails" href="{% url 'answers_detail' case.questionnaire_id case.scenario_id case.patient_id %}">
                      <i class="fas fa-notes-medical fa-1x"></i>
                    </a>
                    </td>
                    <td>
                        <a id="returnPatientWorkspace" href="{% url 'patient_history' case.patient_id %}">  <i class="fas fa-history"></i></a>
                    </td>

                  <td>
                      <button class="btn btn-outline delete-sc-btn patient" data-toggle="modal" data-target="#caseDeleteConfirmModal" id="case-modal{{forloop.counter}}" data-caseid="{{ case.id }}" type="button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    <a id="newCaseButton" href="{% url 'new_pmcase' %}" class="btn btn-primary pull-right"style="margin-right: 5px;"><i class="fa fa-plus-square"></i>&nbsp {% trans "Προσθήκη νέας καταχώρισης ασθενούς" %}</span></a>
  </div>

</div>
</div>

{% include 'app/modals/scenario_patient_modal.html'%}

{% endblock content %}


{% block javascripts %}
{{ block.super }}

<script>
<!--edw prosoxi sto on.click, ean den to ekana etsi den fortwne th jquery otan to table htan se anadiplwsh-->

$(document).ready(function(){

<!--    $("[id*=case-modal]").click(function(){-->
    $('html').on('click', "[id*=case-modal]", function() {
        var patient_id= $(this).data("caseid");

        $('#caseDeleteConfirmModal #confirmBtn').click(function() {


            $.ajax({
                    url: "{{ request.path }}",
                    data: {"patient_id": patient_id },
                    method: 'DELETE',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
                    }

                }) 	.always(function(){
                        $('#caseDeleteConfirmModal').modal('hide');
                    })
                    .done(function(data) {
                        $('[class="modal-title"]').text("{% trans 'Επιτυχής διαγραφή!'%}");
                        $('[class="modal-body"]').text(data);

                        /* Info modal is already open */
                        $('#caseDeleteConfirmModal').on('hidden.bs.modal', function (e) {
                            window.location.replace("{% url 'patient_management_workspace' %}");
                            //location.reload();
                        });

                        $("#dismissBtn").on("click", function () {
                            $('#caseDeleteConfirmModal').modal('hide');
                        });

                    })
                    .fail(function(resp){
                        $('[class="modal-title"]').text("{% trans 'Αποτυχία διαγραφής!'%}");
                        $('[class="modal-body"]').text(resp.responseText);
                        $('#scDeleteInfoModal').on('hidden.bs.modal', function (e) {
                            location.reload();

                    });

            });

        });
    });


});
</script>

<script src="/static/build/js/pv_literature.js"></script>
{% endblock javascripts %}




