
<style>
table       { margin-bottom: 1.4em; width:50%; }
th          { font-weight: bold; }
thead th    { background: #bcc8d4; }
th,td,caption { padding: 4px 10px 4px 5px; }
p    { font-weight: bold; }


.view_title {
  width:40%;
  color:  #0d0d0d
  font-size:16px;
  text-align:center;
  background-color: #bcc8d4;
  padding: 20px;
  color:  #0d0d0d
  font-size:16px;
  font-weight: bold;
    font-family: Arial;

  }

.info_title{
  width:40%;
  color:  #0d0d0d
  font-size:16px;
  text-align:center;
  background-color: #bcc8d4;
  padding: 20px;
  color:  #0d0d0d
  font-size:16px;
  font-weight: bold;
    font-family: Arial;

}

.drug_event{
  width:100%;
  color:  #0d0d0d
  font-size:16px;
  background-color: #bcc8d4;
  padding: 20px;
  color:  #0d0d0d
  font-size:16px;
  font-weight: bold;
  padding-left:20px;
  text-align:center;
    font-family: Arial;

}

.workspace{
  width:100%;
  color:  #0d0d0d
  font-size:16px;
  text-align:center;
  background-color: #bcc8d4;
  padding: 20px;
  color:  #0d0d0d
  font-size:16px;
  font-weight: bold;
  page-break-before: always;
    font-family: Arial;
}
#review{
text-align: center;
color: #0d0d0d
 font-weight: bold;
 font-size:32px;
   font-family: Arial;

}
subt {
  color:  #0d0d0d
  font-size:22px;
  font-weight: bold;
  font-style: bold;
  padding-left:20px;
   font-family: Arial;

}
info{
  color: #0d0d0d
  width: 100%
  padding: 20px;
  color:  #0d0d0d
  font-size:20px;
  font-weight: bold;
  padding-left:20px;
    font-family: Arial;


}
table, figure {
  page-break-inside: avoid;
   font-family: Arial;
   padding-left:20px;
}
div{
  font-family: Arial;
}
.notes_title {
  width:70%;
  font-size:18px;
  word-break: keep-all;
  background: #bcc8d4;
}
.notes_content {
  width: 100%;
<!--  border: 1px solid #000000;-->
  font-size:18px;
  word-break: keep-all;
}
    </style>


    <img src='https://www.inab.certh.gr/img/logos/footelogo.jpg' align="left" width="35%">
    <img src='https://www.certh.gr/skn/logo_el.png' align="right" width="40%" >
<br>
    <div style="padding-top:250px"></div>

<div align="center"><img src="/static/images/pvclinical.png" width="35%"></div>
    <div style="padding-top:200px"></div>


<div id="review">Review of {{scenario}}</div>
    <br>
    <div style="padding-top:500px"></div>
        <div class="info_title">Personal Informations</div>
            <div style="padding-top:30px"></div>
        <info>First Name:</info>
            <div style="padding-top:30px"></div>
        <info>Last Name:</info>
            <div style="padding-top:30px"></div>
        <info>Date Issued:</info>
    <div style="padding-top:100px"></div>

<!--For drug or condition only-->
    {% if dict_quickview or dashboard_png or dict_dash_csv or dict_rr_d or dict_lr or dict_rr_e or dict_lre %}
    <br>
    <div class="workspace"> OpenFDA Workspace</div>
    <br>
    <br>
    {% for drug, con in all_combs%}
        <div class="drug_event">{%if drug != '' %}{{drug}}{% else %}{{con}}{% endif %}</div>
        <div style="padding-bottom:20px"></div>
    {% endfor %}
    {% endif %}

<!--Notes-->
{% if notes_openfda %}
{% for drug, con in all_combs%}
    {% for key,value in notes_openfda.items %}
        {% if drug == key or con == key %}
<div class="view_title" >Notes</div>
        <br>
    <div class="notes_content">{{value|striptags|safe}}</div>
        <br>
        <br>

    {% endif %}
    {% endfor %}
    {% endfor %}
{% endif %}
<!--End Notes-->
<!--    Quickview-->

    {% if dict_quickview.items%}

        {% for key,value in dict_quickview.items %}

    <div class="view_title">Quick View</div>

        {% if value.0 %}
                    <br>
                    <br>
            <subt>- Change in mean analysis</subt>
                    <br>
                    <br>
            <img width="80%" src='{{REPORT_ENDPOINT}}{{ value.0 }}'>
        {% endif %}
    <br>
    <br>
    <br>
            <subt>- PRR and ROR results </subt>
                    <br>
                    <br>
           <div style="margin-left: 20px;">{{value.1|safe}}</div>
    <br>
    <br>

        {% endfor %}
    {% endif %}
            <br>
        <!--Dashboard-->
    {% if dashboard_png or dict_dash_csv %}
        <div class="view_title" >Dashboard</div>
        <br>
                <div style="padding-bottom:30px"></div>
                {% for img in dashboard_png %}
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{ img }}'>
                <div style="padding-bottom:20px"></div>

                {% endfor %}

            <div style="padding-bottom:30px"></div>

        {% for key,value in dict_dash_csv.items %}
            <subt> -{{key}}</subt>
            <div style="padding-bottom:30px"></div>
            <div style="margin-left: 20px;">{{value|safe}}</div>
            <div style="padding-bottom:30px"></div>
        {% endfor %}
    {% endif %}
<!--    End of Dashboard-->
<!--Reporting Rates for Drug-->
    {% if dict_rr_d %}
    <div class="view_title" >Reporting Rates</div>
    <br>
<br>
<br>
    {% for key,value in dict_rr_d.items %}
        <subt> -{{key}}</subt>
        <div style="padding-bottom:30px"></div>
        <div style="margin-left: 20px;">{{value|safe}}</div>
        <div style="padding-bottom:40px"></div>
    {% endfor %}
    {% endif %}
<!--End of Reporting Rates for Drug-->

<!--Reporting Rates for Event-->
    {% if dict_rr_e %}
    <div class="view_title" >Reporting Rates</div>
    <br>
    <br>
    <br>
    {% for key,value in dict_rr_e.items %}
        <subt> -{{key}}</subt>
        <div style="padding-bottom:30px"></div>
        <div style="margin-left: 20px;">{{value|safe}}</div>
        <div style="padding-bottom:40px"></div>
    {% endfor %}
    {% endif %}
<!--End of Reporting Rates for Event-->

<!--Likelihood for Drug-->
{% if lrTest_png or dict_lr %}
        <div class="view_title" >Likelihood Rate Test</div>
        <br>
                <div style="padding-bottom:30px"></div>
                {% for img in lrTest_png %}
                <subt>-Simulation Results for Event Based LRT</subt>
                <div style="padding-bottom:30px"></div>
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{ img }}'>
                <div style="padding-bottom:30px"></div>

                {% endfor %}

            <div style="padding-bottom:30px"></div>

        {% for key,value in dict_lr.items %}
            <subt> -{{key}}</subt>
            <div style="padding-bottom:30px"></div>
            <div style="margin-left: 20px;">{{value|safe}}</div>
            <div style="padding-bottom:30px"></div>
        {% endfor %}

{% endif %}

<!--End Likelihood for Drug-->

<!--Likelihood for Event-->
{% if lreTest_png or dict_lre %}
        <div class="view_title" >Likelihood Rate Test</div>
        <br>
                <div style="padding-bottom:30px"></div>
                {% for img in lreTest_png %}
                <subt>-Simulation Results for Drug Based LRT</subt>
                <div style="padding-bottom:30px"></div>
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{ img }}'>
                <div style="padding-bottom:30px"></div>

                {% endfor %}

            <div style="padding-bottom:30px"></div>

        {% for key,value in dict_lre.items %}
            <subt> -{{key}}</subt>
            <div style="padding-bottom:30px"></div>
            <div style="margin-left: 20px;">{{value|safe}}</div>
            <div style="padding-bottom:30px"></div>
        {% endfor %}

{% endif %}

<!--End Likelihood for Event-->

<!--End for drug or con only-->

<!--for combination of drug-condition-->
{% if empty_OpenFDA != '' %}
<div class="workspace">OpenFDA Workspace</div>
<br>
{% endif %}


        {% for key1,val1 in dict1.items%}
        {% for key2,val2 in dict2.items%}

                {% if key1 == key2  %}

{%if val1.0 != '' or val1.1 != '' or val2.0 != '' or val2.1 != '' or val2.2 != '' or val2.3 != '' or val2.4 != '' or val2.5 != '' or val2.6 != '' %}

{% for k,v in dict_hash_combination.items %}
{% if k == key1 %}

<div class="drug_event">{{v}}</div>
<br>
<br>
<!--edw prepei episis na valw jquery ean epilexei na exei tis simiwseis-->
{% for key2,value2 in notes_openfda.items %}
{% if key2 == v %}
<div class="view_title">Notes</div>
<br>
<div class="notes_content">{{value2|striptags|safe}}</div>
<br>
<br>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}

{% if val1.0 != '' or val1.1 != '' %}
                 <div class="view_title">Quick View</div>
                    <br>
                    <br>
                    {% if val1.0 != '' %}
                    <subt>- Change in mean analysis</subt>
                    <br>
                    <br>
                    <img width="70%" src='{{REPORT_ENDPOINT}}{{val1.0}}'>
                    {%endif%}
                    <br>
                    <br>
                    {% if val1.1 != '' %}
                    <subt>- PRR and ROR results </subt>
                    <br>
                    <br>
                   <div style="margin-left: 20px;">{{ val1.1|safe }}</div>
                    <br>
                    <br>

                    {% endif %}
{%endif%}

{% if val2.0 != '' or val2.1 != '' or val2.2 != '' or val2.3 != '' or val2.4 != '' or val2.5 != '' or val2.6 != '' %}

                    <div class="view_title">Dynamic PRR</div>

                    {% if val2.0 != '' %}
                    <br>
                    <br>
                    <subt>- PRR over time </subt>
                    <br>
                    <img width="90%" src='{{REPORT_ENDPOINT}}{{val2.0}}'>
                    {% endif %}
                    {% if val2.1 != '' %}
                    <br>
                    <br>
                    <subt>{{val2.1|safe}}</subt>
                    <br>
                    <br>
                    <div style="margin-left: 20px;">{{val2.2|safe}}</div>

                    {% endif %}
                    {% if val2.3 != '' %}
                    <br>
                    <br>
                    <subt>{{val2.3|safe}}</subt>
                    <br>
                    <br>
                    <div style="margin-left: 20px;">{{val2.4|safe}}</div>
                    {% endif %}
                    {% if val2.5 != '' %}
                    <br>
                    <br>
                    <subt>{{val2.5|safe}}</subt>
                    <br>
                    <br>
                    <div style="margin-left: 20px;">{{val2.6|safe}}</div>

                    {% endif %}

{% endif %}

                {% endif %}
                {%endfor%}

        {% for key3,val3 in dict3.items%}

                {% if key1 == key3  %}
{%if val1.0 == '' and val1.1 == '' and val2.0 == '' and val2.1 == '' and val2.2 == '' and val2.3 == '' and val2.4 == '' and val2.5 == '' and val2.6 == '' %}
{%if val3.0 != '' or val3.1 != '' or val3.2 != '' or val3.3 != '' or val3.4 != '' or val3.5 != '' or val3.6 != '' or val3.7 != '' or val3.8 != '' or val3.9 != '' or val3.10 != '' or val3.11 != '' %}

{% for k,v in dict_hash_combination.items %}
{% if k == key1 %}
<div class="drug_event">{{v}} </div>
<br>
<br>
<!--edw prepei episis na valw jquery ean epilexei na exei tis simiwseis-->
{% for key2,value2 in notes_openfda.items %}
{% if key2 == v %}
<div class="view_title">Notes</div>
<br>
<div class="notes_content">{{value2|striptags|safe}}</div>
<br>
<br>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
{%if val3.0 != '' or val3.1 != '' or val3.2 != '' or val3.3 != '' or val3.4 != '' or val3.5 != '' or val3.6 != '' or val3.7 != '' or val3.8 != '' or val3.9 != '' or val3.10 != '' or val3.11 != '' %}


                    <div class="view_title">Change Point Analysis</div>
                    {% if val3.0 != '' %}
                    <br>
                    <br>
                    <subt>{{val3.0}}</subt>
                    <br>
                    <br>
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{val3.1}}'>

                    {% endif %}

                    {% if val3.2 != '' %}
                    <br>
                    <br>
                    <subt>{{val3.2}}</subt>
                    <br>
                    <br>
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{val3.3}}'>
                    {% endif %}

                    {% if val3.4 != '' %}
                    <br>
                    <br>
                    <subt>{{val3.4|safe}}</subt>
                    <br>
                    <br>
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{val3.5}}'>
                    {% endif %}

                    {% if val3.6 != '' %}
                    <br>
                    <br>
                    <subt>{{val3.6|safe}}</subt>
                    <br>
                    <br>
                    <img width="80%" src='{{REPORT_ENDPOINT}}{{val3.7}}'>
                    {% endif %}
                    {% if val3.8 != '' %}
                    <br>
                    <br>
                    <subt>{{val3.8|safe}}</subt>
                    <br>
                    <br>
                    <div style="margin-left: 20px;">{{val3.9|safe}}</div>
                    {% endif %}
                    {% if val3.10 != '' %}
                    <br>
                    <br>
                    <subt>{{val3.10|safe}}</subt>
                    <br>
                    <br>
                    <div style="margin-left: 20px;"> {{val3.11|safe}}</div>

                    {% endif %}

                {% endif %}
{%endif%}
        {%endfor%}

        {%endfor%}


<!--End for combination of drug-condition-->



