{% extends "app/base_site.html" %}

{% block title %} Fixed Sidebar {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- jQuery custom content scroller -->
<link href="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block sidebar_class %}nav-md menu_fixed{% endblock sidebar_class %}
{% block javascripts %}
{{ block.super }}
<!-- jQuery custom content scroller -->
<script src="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    var shinnyAppsUrl='https://openfda.shinyapps.io/';
    $('#shinnyAppsDropdown .dropdown-item').click(function (e) {
        console.log('test');
        document.getElementById("shinny-apps-iframe").src = shinnyAppsUrl+e.target.childNodes[0].textContent;


    })


</script>
{% endblock javascripts %}
{% block content %}
<div class="right_col" role="main">
    <div class="row my-1">
        <div class="col col-sm-2">
            <div class="dropdown ml-3">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                        type="button">Application
                </button>
                <div role="menu" id="shinnyAppsDropdown" class="dropdown-menu">
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">Dash</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">RR_D</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">RR_E</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">DynPRR</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">ChangePoint</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">ReportView</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">LabelView</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">LrTest</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">LrTest_E</a>
                    <a role="presentation" class="dropdown-item dropdown-item-shinnyapps" href="#">DrugEnforceView</a>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">
            <div class="dropdown ml-3">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                        type="button">Drug
                </button>
                <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First
                    Item</a>
                    <a role="presentation" class="dropdown-item" href="#">Second Item</a>
                    <a role="presentation" class="dropdown-item" href="#">Third
                        Item</a></div>
            </div>
        </div>
        <div class="col col-sm-2">
            <div class="dropdown ml-3">
                <button id="eventbtn" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false" type="button">Event
                </button>
                <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First
                    Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a role="presentation"
                                                                                                    class="dropdown-item"
                                                                                                    href="#">Third
                    Item</a></div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex flex-column" style="margin-top: 10px;">
        <div class="row iframe-row">
            <div class="col">
                <div>
                    <iframe id="shinny-apps-iframe" src="https://openfda.shinyapps.io/dash/?t1=aspirin&amp;v1=patient.drug.openfda.generic_name"
                            width="100%" height="360" style="  border: none;
  overflow: hidden;
" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


