{% extends 'app/base_site.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ block.super }}
    <script src="/static/build/js/social_media.js"></script>
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block sliding_toolbar %}
    <div id="floater">
       <button class="btn notes-btn btn-dark" type="button" data-url="{% url 'keep_notes' sc_id=sc_id ws_id='SocialMedia' wsview_id='sm' %}", data-id="notes_SM_{{ sc_id }}">
            <i class="fas fa-notes-medical fa-2x"></i>
            <span class="visible-lg">
                {% trans "Σημειώσεις" %}
            </span>
        </button>
    </div>
{% endblock %}

{% block content %}
<div class="right_col" role="main">
    <div class="row tile_count">
        <div class="col-4 col-offset-6">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="btn-group pull-left col-xs-12 mb-2 row">
                        <button class="social-btn btn btn-dark pull-left" onclick="start_data_extraction('{{ sc_id }}', '{{ keywords }}')" type="button" data-url="" data-toggle="tooltip" data-placement="right" data-html="true" title="<p>{% trans 'Έναρξη διαδικασίας εξόρυξης δεδομένων από το twitter για το προς διερεύνηση σενάριο' %}</p>">
                            <i class="far fa-play-circle fa-2x"></i>
                            <span class="visible-lg">
                                {% trans "Έναρξη εξόρυξης δεδομένων" %}
                            </span>
                        </button>
                        <button class="social-btn btn btn-danger pull-right" type="button" data-url="" data-toggle="tooltip" data-placement="left" data-html="true" title="<p>{% trans 'Λήξη διαδικασίας εξόρυξης δεδομένων από το twitter για το προς διερεύνηση σενάριο' %}</p>">
                            <i class="far fa-stop-circle fa-2x"></i>
                            <span class="visible-lg">
                                {% trans "Λήξη εξόρυξης δεδομένων" %}
                            </span>
                        </button>
                    </div>

                    <div class="row iframe-container">
<!--                        <iframe src="http://83.212.101.89:3838/simpleRAnalyticswithRawData/" class="social-iframe" allowfullscreen></iframe>-->
                        <iframe src="{{ sm_endpoint }}?dbName={{ sc_id }}&colName={{ col_name }}" class="social-iframe" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}