settings.py
.idea/
.Rproj.user
.pvenv/
.gitignore
RShinyApps/QuickView/rsconnect/shinyapps.io/
*.pyc
*.RData
gentelella/app/migrations/__pycache__/
gentelella/users/migrations/__pycache__/
*/*/*/*.pyc
gentelella/db_b.sqlite3
RShinyApps/.Rproj.user/shared/notebooks/paths
RShinyApps/.RData
RShinyApps/.Rhistory

