certifi==2020.4.5.2
chardet==3.0.4
Django==2.2.6
django-appconf==1.0.3
django-autocomplete-light==3.5.0
django-crispy-forms==1.7.2
django-redis==4.11.0
django-select2==7.1.1
django-translation-flags==1.0.6
idna==2.9
isodate==0.6.0
mysql==0.0.2
mysqlclient==1.4.4
pycrypto==2.6.1
pyparsing==2.4.6
python-memcached==1.59
python-redis-lock==3.5.0
pytz==2018.9
rdflib==4.2.2
redis==3.5.0
redis-cache==0.1.5
redis-structures==0.1.7
requests==2.23.0
six==1.12.0
SPARQLWrapper==1.8.4
sqlparse==0.3.0
urllib3==1.25.9
vital-tools==0.1.13
