{% load i18n %}
<div class="modal fade {{ modal_type }}" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog {% if modal_type == 'viewModal' %}modal-lg{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-xs-11" id="myModalLabel">{{ modal_title }}</h4>
                <button type="button" class="close col-xs-1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {% if additional_info %}
                    <div class="container alert time-study-info">{{ additional_info }}</div>
                {% endif %}

                {% if help_info %}
                    <a tabindex="0" class="view-info-btn btn btn-lg btn-outline pull-right" role="button" data-trigger="focus" data-container="body" data-toggle="popover" data-html="true" data-placement="left" title="{{ help_info_title }}" data-content="{{ help_info }}">
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                {% endif %}

                {{ modal_body }}
                {% if modal_iframe_url %}
                    {% if modal_type == 'dataSourcesModal' %}
                        <iframe src="" data-src={{modal_iframe_url}} class="modalIframe" allowfullscreen>
                    {% else %}
                        <iframe src={{modal_iframe_url}} class="modalIframe" allowfullscreen>
                    {% endif %}
                        {% trans "Ο περιηγητής σας δεν υποστηρίζει πλαίσια (iframes). Για να δείτε αυτήν τη σελίδα, χρησιμοποιήστε κάποιο κατάλληλο πρόγραμμα περιήγησης." %}
                    </iframe>
                {% endif %}
            </div>
            {% if modal_type != "viewModal" %}
                <div class="modal-footer">
                        {% if modal_type == "infoModal" %}
                            <button id="dismissBtn" type="button" data-record="" class="btn btn-primary" data-dismiss="modal">
                                {{ dismiss_btn }}
                            </button>
                        {% elif modal_type == "confirmModal" %}
                            <button id="dismissBtn" type="button" data-record="" class="btn btn-default" data-dismiss="modal">
                                {{ dismiss_btn }}
                            </button>

                            <button type="button" class="btn btn-primary" id="confirmBtn" data-toggle="modal" data-target={{data_target}}>
                                {{ main_btn }}
                            </button>
                        {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>