{% load i18n %}
<style>
input{
    border: 0px solid;
    }
.checkbox_choices{
  display: inline-block;
}
 .sizing {
    max-width: 790px;
    margin: auto;
        }
/*.crop_img_mod {*/
/*    margin: 0 -75px -300px 0;*/

/*}*/


* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {
    vertical-align: middle;
    padding-right: 30px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;

  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #f1f1f1;
  color: #2A3F54;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    color: black;
    background-color: #cbcbcb;

}
.center {
  margin: auto;
  width: 60%;
}
.numbertext {
  color: #73879C;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

</style>
<!-- Shiny Modal -->
<div class="modal fade bd-example-modal-lg"  id="shinyModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="sizing">
        <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <iframe id="iframe_shiny" src="" width="750px" height="550" frameborder="0" allowtransparency="true"></iframe>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
          </div>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Shiny Modal Notes -->
<div class="modal fade report-note-modal"  id="shinyModal_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="myModalLabel">{% trans "Σημειώσεις" %}</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <div class="modal-body">
              <div class="row">
                  <input type="checkbox" id="shiny_note" class="note_chkb col-xs-1" value="">
                  <label for="shiny_note" id="shiny_note_label"></label>
                  <div id="cke_shiny_note_contents" class="cke_contents cke_reset col-xs-11" role="presentation">
                      <textarea readonly="readonly" id="taShinyNote{{ forloop.counter}}"></textarea>
                  </div>
              </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--  IR Modal -->
<div class="modal fade ohdsi-report-modal bd-example-modal-xl"  id="irModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
        {% if ir_generate == 'no' %}
            <b>{% trans "Δεν υπάρχουν δεδομένα προς επιλογή!" %}</b>
        {% endif %}

    {% if ir_generate == 'yes' %}
          {% if ir_table %}
            <input type="checkbox" class="class_ir_table" id="ir_table" value=""> <label for="ir_table">&nbsp {% trans "Συμπερίληψη πίνακα" %}</label>
            <br>
            <br>
            <br>
            <img src="{{ ir_table }}" class="crop_img_mod">
            <br>
            <br>
          {% endif %}
          {% if ir_all %}
            <input type="checkbox" class="class_ir_all" id="ir_all" value=""> <label for="ir_all">&nbsp {%trans "Συμπερίληψη πίνακα και γραφήματος θερμικού χάρτη" %}</label>
              <br>
              <br>
              <br>
            <img src="{{ ir_all }}" width="97%">
          {% endif %}
          {% if ir_table is None and ir_all is None %}
              <b>{% trans "Προέκυψε σφάλμα κατά τη δημιουργία προεπισκόπησης. Παρακαλούμε δοκιμάστε αργότερα!" %}</b>
          {% endif %}
    {% endif %}

      </div>
      <div class="modal-footer">
        <button id="closeIr" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  CHAR Modal -->
<div class="modal fade  ohdsi-report-modal bd-example-modal-xl"  id="charModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">

{% if char_generate == 'no' %}
    <b>{% trans "Δεν υπάρχουν δεδομένα προς επιλογή!" %}</b>
  {% endif %}

{% if char_generate == 'yes' %}
<div class="slideshow-container">
    <div class="center">
    {% for cc_shot_el, cc_shot_path, cc_shot_label in cc_shots_paths_labels %}
    <div class="mySlides1">
        <input type="checkbox" id={{ cc_shot_el }} value=""><label for={{ cc_shot_el }}>&nbsp {% trans cc_shot_label %}</label>
            <br>
            <img src="{{ cc_shot_path }}">
      <br>
      <br>
            <div class="numbertext">{% trans "Επιλογή" %}: {{ forloop.counter}} / {{ cc_shots_paths_labels|length }}</div>
    </div>
    {% endfor %}
</div>
  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>


</div>
          {% endif %}

          <br>
          <br>

      </div>
      <div class="modal-footer">
        <button id="closeChar" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  Path Modal -->
<div class="modal fade ohdsi-report-modal bd-example-modal-xl"  id="pathModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
        {% if cp_generate == 'no' %}
            <b>{% trans "Δεν υπάρχουν δεδομένα προς επιλογή!" %}</b>
        {% endif %}

        {% if cp_generate == 'yes' %}
          {% if path_all %}
            <div class="checkbox_choices">
                <label>
                <input type="checkbox" id="cp_all" value="">&nbsp {% trans "Συμπερίληψη πινάκων και γραφημάτων" %}
                </label>
            </div>
            <br>
            <br>
            <img src="{{ path_all }}" width="97%">
          {% else %}
            <b>{% trans "Προέκυψε σφάλμα κατά τη δημιουργία προεπισκόπησης. Παρακαλούμε δοκιμάστε αργότερα!" %}</b>
          {% endif %}
        {% endif %}

      </div>
      <div class="modal-footer">
        <button id="closePath" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  None Modal -->
<div class="modal fade ohdsi-report-modal bd-example-modal-xl"  id="noneModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
          <b>{% trans "Δεν υπάρχουν δεδομένα προς επιλογή!" %}</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--  Ir Modal -->
<div class="modal fade report-note-modal"  id="ohdsi_ir_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="ohdsi_ir_Label">{% trans "Σημειώσεις" %}</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
        {% if ir_notes != '' %}
          <div class="row">
              <input type="checkbox" id="irnote" class="col-xs-1" value="">
              <label for="irnote" id="label_ir_note"></label>
              <div id="cke_irnote_contents" class="cke_contents cke_reset col-xs-11" role="presentation">
                  <textarea readonly="readonly" id="taIrNote">{{ ir_notes|striptags|safe }}</textarea>
              </div>
          </div>
        {% else %}
           <b>{% trans "Δεν εντοπίστηκαν σχετικές σημειώσεις!" %}</b>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  Char Modal -->
<div class="modal fade report-note-modal"  id="ohdsi_char_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="ohdsi_char_Label">{% trans "Σημειώσεις" %}</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
            {% if char_notes != '' %}
                <div class="row">
                    <input type="checkbox" id="charnote" class="col-xs-1" value="">
                    <label for="charnote" id="label_char_note"></label>
                    <div id="cke_charnote_contents" class="cke_contents cke_reset col-xs-11" role="presentation">
                        <textarea readonly="readonly" id="taCharNote">{{ char_notes|striptags|safe }}</textarea>
                    </div>
                </div>
            {% else %}
          <b>{% trans "Δεν εντοπίστηκαν σχετικές σημειώσεις!" %}</b>
            {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  Pathways Modal -->
<div class="modal fade report-note-modal"  id="ohdsi_pathways_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="ohdsi_pathways_Label">{% trans "Σημειώσεις" %}</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
            {% if pathways_notes != '' %}
                <div class="row">
                    <input type="checkbox" id="pathwaysnote" class="col-xs-1" value="">
                    <label for="pathwaysnote" id="label_pathways_note"></label>
                    <div id="cke_pathwaynote_contents" class="cke_contents cke_reset col-xs-11" role="presentation">
                        <textarea readonly="readonly" id="taPathwayNote">{{ pathways_notes|striptags|safe }}</textarea>
                    </div>
                </div>
            {% else %}
          <b>{% trans "Δεν εντοπίστηκαν σχετικές σημειώσεις!" %}</b>
            {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Social Media Modal -->
<div class="modal fade bd-example-modal-lg"  id="socialMediaModal" tabindex="-1" role="dialog" aria-labelledby="SMModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="sizing">
        <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <iframe id="socialMediaModalIframe" src="" allowfullscreen></iframe>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
          </div>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Social Media Modal Notes -->
<div class="modal fade report-note-modal"  id="socialMediaModalΝotes" tabindex="-1" role="dialog" aria-labelledby="SMModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="myModalLabel">{% trans "Σημειώσεις" %}</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <div class="modal-body">
              <div class="row">
                  <input type="checkbox" id="sm_note" class="note_chkb col-xs-1" value="">
                  <label for="sm_note" id="sm_note_label"></label>
                  <div id="cke_shiny_note_contents" class="cke_contents cke_reset col-xs-11" role="presentation">
                      <textarea readonly="readonly" id="taSmNote">{{ twitter_notes|striptags|safe }}</textarea>
                  </div>
              </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Κλείσιμο" %}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script>
var slideIndex = [1,1];
var slideId = ["mySlides1", "mySlides2"]
showSlides(1, 0);
showSlides(1, 1);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
</script>
