<style>
input{
    border: 0px solid;
    }
.checkbox_choices{
  display: inline-block;
}
 .sizing {
    max-width: 790px;
    margin: auto;
        }
</style>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg"  id="shinyModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="sizing">
        <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <iframe id="iframe_shiny" src="" width="750px" height="550" frameborder="0" allowtransparency="true"></iframe>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade report-note-modal"  id="shinyModal_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="myModalLabel">Notes</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          <div class="modal-body">
                <input type="checkbox" id="shiny_note" class="note_chkb" value="">&nbsp<label for="shiny_note" id="label_shiny_note"></label>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--  IR Modal -->
<div class="modal fade bd-example-modal-xl"  id="irModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
          <div class="checkbox_choices">
                 <label class="checkbox-inline">
                   <input type="checkbox" id="ir_table" value="">&nbsp Choose table
                 </label>
                 <label class="checkbox-inline">
                   <input type="checkbox" id="ir_all" value="">&nbsp Choose table with a heatmap
                 </label>
            </div>
          <br>
          <br>
          <iframe id="Ir_frame" src="" width="100%" height="700" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  CHAR Modal -->
<div class="modal fade bd-example-modal-xl"  id="charModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
          <div class="checkbox_choices">
                 <label class="checkbox-inline">
                   <input type="checkbox" id="pre_table" value="">&nbsp "All prevalence covariates" table
                 </label>
                 <label class="checkbox-inline">
                   <input type="checkbox" id="pre_chart" value="">&nbsp "All prevalence covariates" chart
                 </label>
              <label class="checkbox-inline">
                   <input type="checkbox" id="drug_table" value="">&nbsp "Drug Group Era Long Term" table
                 </label>
                 <label class="checkbox-inline">
                   <input type="checkbox" id="drug_chart" value="">&nbsp "Drug Group Era Long Term" chart
                 </label>
              <label class="checkbox-inline">
                   <input type="checkbox" id="demograph_table" value="">&nbsp "Demographics Age Group" table
                 </label>
                 <label class="checkbox-inline">
                   <input type="checkbox" id="demograph_chart" value="">&nbsp "Demographics Age Group" chart
                 </label>
              <label class="checkbox-inline">
                   <input type="checkbox" id="charlson_table" value="">&nbsp "Charlson Index" table
                 </label>
                 <label class="checkbox-inline">
                   <input type="checkbox" id="charlson_chart" value="">&nbsp "Charlson Index" chart
                 </label>
              <label class="checkbox-inline">
                   <input type="checkbox" id="gen_table" value=""> &nbsp "Demographics Gender" table
                 </label>
                 <label class="checkbox-inline">
                   <input type="checkbox" id="gen_chart" value="">&nbsp "Demographics Gender" chart
                 </label>
            </div>
          <br>
          <br>
          <iframe id="Char_frame" src="" width="100%" height="700" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  Path Modal -->
<div class="modal fade bd-example-modal-xl"  id="pathModal" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
          <div class="checkbox_choices">
                 <label class="checkbox-inline">
                   <input type="checkbox" id="cp_all" value="">&nbsp Choose tables and charts
                 </label>
            </div>
          <br>
          <br>
          <iframe id="Path_frame" src="" width="100%" height="700" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  None Modal -->
<div class="modal" id="noneModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
          <b>There is no data to select here!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--  Ir Modal -->
<div class="modal fade report-note-modal"  id="ohdsi_ir_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="ohdsi_ir_Label">Notes</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
        {% if ir_notes != '' %}
            <input type="checkbox" id="irnote" value="">&nbsp; {{ ir_notes|striptags|safe }}<label for="irnote" id="label_ir_note"></label>
        {% else %}
           <b>There are no notes in this field yet.</b>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  Char Modal -->
<div class="modal fade report-note-modal"  id="ohdsi_char_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="ohdsi_char_Label">Notes</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
            {% if char_notes != '' %}
            <input type="checkbox" id="charnote" value="">&nbsp; {{ char_notes|striptags|safe }}<label for="charnote" id="label_char_note"></label>
            {% else %}
          <b>There are no notes in this field yet.</b>
            {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--  Pathways Modal -->
<div class="modal fade report-note-modal"  id="ohdsi_pathways_notes" tabindex="-1" role="dialog" aria-labelledby="OpenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-xs-11" id="ohdsi_pathways_Label">Notes</h4>
           <button type="button" class="close col-xs-12" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
      <div class="modal-body">
            {% if char_notes != '' %}
            <input type="checkbox" id="pathwaysnote" value="">&nbsp; {{ pathways_notes|striptags|safe }}<label for="charnote" id="label_pathways_note"></label>
            {% else %}
          <b>There are no notes in this field yet.</b>
            {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

