body{
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif!important;
  color:#73879C!important;
  /*font-style: italic!important;*/
}
.popover{
  max-width: 100%;
  width:500px;
}
.shiny-plot-output, .datatables {
  /*color:blue;*/
}
.tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid black;
  padding: 15px;
  font-size: 12px;
  opacity:1;
   width:500px!important;
}

/* Tooltip on top */
 .tooltip-arrow {
   background-color: blue;
  border-bottom: 1px red;
}
.tooltip{
  top: -74px; left: 144px; display: block; width:500px!important;
  opacity:1;
}

.nav.nav-tabs>li.active>a {
    color: blue!important;
}
a {
    color: #5A738E!important;
    text-decoration: none!important;
    text-decoration-line: none!important;
    text-decoration-style: initial!important;
    text-decoration-color: initial!important;
}
#seriousplot{
  /*height:280px!important;*/
}
#cpmeanplot{
  
}
#cpmeanplot img{
  /*padding-right:20px;
  width:420px!important;
  height:350px!important;*/
}

