{% extends "registration/base_accounts.html" %}
{% load i18n %}

{% block title %} {% trans "Σελίδα Εισαγωγής" %} {% endblock title %}

{% block extra_checks %}
    {% if next %}
        {% if user.is_authenticated %}
            <p id="message_container" class="error text-center">{% trans "Ο λογαριασμός σας δεν έχει δικαίωμα πρόσβασης σε αυτήν τη σελίδα. Για να συνεχίσετε, παρακαλώ κάντε εισαγωγή στο σύστημα με ένα εγκεκριμένο λογαριασμό." %}
            </p>
        {% else %}
            <p id="message_container" class="error text-center">{% trans "Παρακαλώ κάντε εισαγωγή στο σύστημα για να δείτε αυτήν τη σελίδα." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_action %}"{% url 'login' %}"{% endblock %}

{% block form_title %}<h1 class="mt-4"><span>{% trans "Στοιχεία Εισόδου" %}</span></h1>{% endblock %}

{% block submit_btn %}
    <button class="btn btn-primary submit" method="post" action="{% url 'login' %}">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        {% trans "Είσοδος" %}
    </button>
    <a class="reset_pass" href="{% url 'password_reset' %}">{% trans "Ξεχάσατε τον κωδικό σας;" %}</a>
{% endblock %}

{% block extra_fields %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endblock %}
