{% extends "registration/base_accounts.html" %}
{% load i18n %}

{% block title %} {% trans "Έκβαση Αλλαγής Συνθηματικού" %} {% endblock %}

{% block no_form %}
	{% if request.user %}
		<h1 class="mb-5">{% trans "Το συνθηματικό σας άλλαξε επιτυχώς!" %}</h1>
		<p><a class="text-success" href="{% url 'login' %}">{% trans "Επανασύνδεση" %}</a></p>
	{% else %}
		<div>
			{% trans "Δεν επιτρέπεται η απευθείας πρόσβαση σε αυτήν τη σελίδα" %}
		</div>

		<script>
			var timer = setTimeout(function() {
				window.location={% url 'login' %}
			}, 5000);
		</script>

	{% endif %}
{% endblock %}