{% extends "registration/base_accounts.html" %}
{% load i18n %}

{% block title %} Επαναφορά Συνθηματικού {% endblock %}

{% block no_form %}
	<h1 class="mb-3">{% trans "Επιτυχής αποστολή συνδέσμου επαναφοράς συνθηματικού!" %}</h1>
	<p>{% blocktrans %}Αποστείλαμε, στην ηλεκτρονική σας διεύθυνση email, οδηγίες σχετικά με την επαναφορά του συνθηματικού σας.
	Αν δεν τις παραλάβετε εντός λίγων λεπτών, παρακαλώ ελέγξτε τον φάκελο ανεπιθύμητης αλληλογραφίας (spam folder).{% endblocktrans %}</p>
{% endblock %}