{% extends "registration/base_accounts.html" %}
{% load i18n %}

{% block title %} {% trans "Επαναφορά Συνθηματικού" %} {% endblock %}

{% block form_title %}<h1><span>{% trans "Διεύθυνση Αποστολής" %}</span></h1>{% endblock %}

{% block form_action %}"{% url 'password_reset' %}"{% endblock %}

{% block submit_btn %}
    <button class="btn btn-primary mt-1" type="submit">
		<i class="fa fa-unlock-alt"></i>
		{% trans "Επαναφορά Συνθηματικού" %}
	</button>
{% endblock %}

{% block extra_fields %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endblock %}