{% extends "registration/base_accounts.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Αλλαγή Συνθηματικού" %} {% endblock %}

{% block form_title %}<h1><span>{% trans "Αλλαγή Συνθηματικού" %}</span></h1>{% endblock %}

{% block submit_btn %}
	<button class="btn btn-primary" type="submit">
		<span class="fa-stack">
			<i class="fa fa-refresh fa-stack-2x"></i>
	  		<i class="fa fa-lock fa-stack-1x"></i>
		</span>

		<span class="d-none d-xl-block">{% trans "Αλλαγή" %}</span>
	  </button>
{% endblock %}