{% extends "registration/base_accounts.html" %}
{% load i18n %}

{% block title %} {% trans "Επιβεβαίωση Επαναφοράς Συνθηματικού" %} {% endblock %}


{% if validlink %}
	{% block form_title %}<h1><span>{% trans Αλλαγή Συνθηματικού %}</span></h1><h5 class="text-center mt-4 mb-3">{% trans Παρακαλώ εισάγετε και επιβεβαιώστε το νέο σας συνθηματικό %}</h5>{% endblock %}

	{% block form_action %}""{% endblock %}

	{% block submit_btn %}
		<button class="btn btn-primary login-btn" type="submit">
			<i class="fa fa-check-square"></i>
			{% trans "Αλλαγή" %}
		</button>
	{% endblock %}

{% else %}
	{% block no_form %}
		<h1 class="mb-3">{% trans "Η επαναφορά συνθηματικού απέτυχε" %}</h1>
		<p class="text-muted">{% trans "Ο σύνδεσμος επαναφοράς ήταν μη έγκυρος, ενδεχομένως επειδή είχε ήδη χρησιμοποιηθεί παλιότερα." %}
			{% trans "Παρακαλώ ζητήστε νέα" %} <a class="text-danger" href="{% url 'password_reset' %}"> {% trans "επαναφορά συνθηματικού" %}</a>.
		</p>
	{% endblock %}
{% endif %}

