{% extends 'patients/base.html' %}
{% load static %}
{%  load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Η σελίδα που αναζητάτε δεν βρέθηκε!" %} {% endblock %}
{% block headext %}<script src="{% static 'patients/js/no-more-button.js' %}"></script>{% endblock %}

{% block content %}
	<div class="text-center col-6 offset-3">
		<h1>{% trans "Δεν είναι δυνατή η εύρεση της σελίδας που αναζητάτε." %}</h1>

        <a class="btn btn-secondary col-4" type="button" href="{{ request.META.HTTP_REFERER }}">
            <i class="fas fa-backspace"></i>
            <span class="d-none d-xl-block">
                {% trans "Επιστροφή" %}
            </span>
        </a>
	</div>
{% endblock %}