{% extends "app/base_site.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Εσωτερικό σφάλμα συστήματος" %} {% endblock %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block sidebar %}{% endblock sidebar %}

{% block top_navigation %}{% endblock top_navigation %}

{% block content %}
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <h1 class="error-number">500</h1>
        <h2>{% trans "Εσωτερικό σφάλμα συστήματος" %}</h2>
        <p>{% trans "Εντοπίζουμε αυτού του είδους τα σφάλματα αυτόματα, ωστόσο αν το πρόβλημα επιμείνει, παρακαλούμε να επικοινωνήσετε μαζί μας. Προς το παρόν δοκιμάστε να ανανεώσετε τη σελίδα!" %} <a href="#">Ανανέωση</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
